<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // defines
        const exampleId = new URL(location.href).searchParams.get('exampleId');
        const example = new duice.ObjectProxy({
            exampleId: null,
            exampleItems: []
        });
        const exampleCode = new duice.ObjectProxy([]);
        _getCode('core.example.Example.code').then(data => {
            duice.ObjectProxy.assign(exampleCode, data);
        });
        // prefer header
        let prefer = null;
        _fetch.interceptors.request.push(options=> {
            options.headers['Prefer'] = prefer;
        });

        function changePrefer(value) {
            prefer = value || null;
            document.dispatchEvent(new Event('DOMContentLoaded'));
        }

        function getExample(exampleId) {
            let url = new URL(`${_apiUrl}/v1/examples/${exampleId}`, location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(example);
                    duice.ObjectProxy.assign(example, data);
                    duice.ObjectProxy.setDisabledAll(example, false);
                });
        }

        function addExampleItem() {
            example.exampleItems.push({});
        }

        function removeExampleItem(index) {
            example.exampleItems.splice(index, 1);
        }

        async function saveExample() {
            // validates
            if (!example.name) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.example.Example.name})}]]*/'');
                duice.ObjectProxy.focus(example, 'name');
                return false;
            }
            for (const exampleItem of example.exampleItems) {
                if (!exampleItem.itemId) {
                    await _alert(/*[[#{web.global.itemEmpty(#{core.example.ExampleItem.itemId})}]]*/'');
                    duice.ObjectProxy.focus(exampleItem, 'itemId');
                    return false;
                }
                if (!exampleItem.name) {
                    await _alert(/*[[#{web.global.itemEmpty(#{core.example.ExampleItem.name})}]]*/'');
                    duice.ObjectProxy.focus(exampleItem, 'name');
                    return false;
                }
            }
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.example.Example})}]]*/'').then(result => {
                if (result) {
                    let url;
                    let method;
                    if (!example.exampleId) {
                        url = `${_apiUrl}/v1/examples`;
                        method = 'POST';
                    } else {
                        url = `${_apiUrl}/v1/examples/${example.exampleId}`;
                        method = 'PUT';
                    }
                    _fetch(new URL(url, location.origin), {
                        method: method,
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(example)
                    })
                        .then(response => response.json())
                        .then(data => {
                            _alert(/*[[#{web.global.saveItemComplete(#{core.example.Example})}]]*/'').then(() => {
                                if (exampleId) {
                                    getExample(exampleId);
                                } else {
                                    let url = new URL(location.pathname, location.origin);
                                    url.searchParams.set('exampleId', data.exampleId);
                                    location.replace(url.href);
                                }
                            });
                        });
                }
            });
        }

        function deleteExample() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.example.Example})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(`${_apiUrl}/v1/examples/${example.exampleId}`, document.location.origin);
                    _fetch(url, {
                        method: 'DELETE'
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.example.Example})}]]*/'').then(() => {
                                let url = new URL('/example/list-detail', location.origin);
                                location.replace(url.href);
                            });
                        }
                    })
                }
            });
        }

        // initialize
        _initialize(() => {
            if (exampleId) {
                getExample(exampleId);
            }
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <div class="display--flex justify-content--space-between">
        <div>
            <h1>
                <i class="fa-solid fa-file"></i>
                <span>Hub and Spoke Pattern - Detail</span>
            </h1>
        </div>
        <div class="align-self--center">
            <label>
                <select onchange="changePrefer(this.value);">
                    <option value="">Prefer DAO...</option>
                    <option value="dao=mybatis">Mybatis</option>
                </select>
            </label>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: content                    -->
    <!-- ====================================== -->
    <div>
        <!-- ====================================== -->
        <!-- start: detail                          -->
        <!-- ====================================== -->
        <div class="panel">
            <div class="panel-title">
                <h2>
                    <i class="fa-regular fa-file-lines"></i>
                    <span data-th-text="|#{core.example.Example} #{web.global.detail}|"></span>
                </h2>
            </div>
            <div class="panel-content">
                <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1em">
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold tag-important" data-th-text="#{core.example.Example.name}"></span>
                            <input type="text" data-duice-bind="example" data-duice-property="name" class="font-weight--bold"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.icon}"></span>
                            <div>
                                <img th:src="@{/static/image/icon-null.svg}"
                                     data-duice-bind="example"
                                     data-duice-property="icon"
                                     data-duice-editable="true"
                                     data-duice-size="32,32" class="icon" style="width:32px; height:32px;" alt=""/>
                            </div>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.number}"></span>
                            <input type="number" data-duice-bind="example" data-duice-property="number" data-duice-format="number(0)" class="number"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.decimalNumber}"></span>
                            <input type="number" data-duice-bind="example" data-duice-property="decimalNumber" data-duice-format="number(4)" class="number"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.dateTime}"></span>
                            <input type="datetime-local" data-duice-bind="example" data-duice-property="dateTime" class="date"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.instantDateTime}"></span>
                            <input type="datetime-local" data-duice-bind="example" data-duice-property="instantDateTime" class="date"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.zonedDateTime}"></span>
                            <input type="datetime-local" data-duice-bind="example" data-duice-property="zonedDateTime" class="date"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.date}"></span>
                            <input type="date" data-duice-bind="example" data-duice-property="date" class="date"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.time}"></span>
                            <input type="time" data-duice-bind="example" data-duice-property="time" class="date"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label>
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.enabled}"></span>
                            <br/>
                            <input type="checkbox" data-duice-bind="example" data-duice-property="enabled"/>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.type}"></span>
                            <select data-duice-bind="example" data-duice-property="type" class="code">
                                <option>-</option>
                                <option th:each="type: ${exampleTypes}"
                                        th:value="${type.name}"
                                        th:text="${type.name}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.code}"></span>
                            <select data-duice-bind="example" data-duice-property="code"
                                    data-duice-option="exampleCode.codeItems"
                                    data-duice-option-value-property="itemId"
                                    data-duice-option-text-property="name">
                                <option>-</option>
                            </select>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.text}"></span>
                            <textarea data-duice-bind="example" data-duice-property="text"></textarea>
                        </label>
                    </div>
                    <div class="grid-column--span-6 s__grid-column--span-12">
                        <label class="display--flex flex-direction--column">
                            <span class="font-weight--bold" data-th-text="#{core.example.Example.cryptoText}"></span>
                            <textarea data-duice-bind="example" data-duice-property="cryptoText"></textarea>
                        </label>
                    </div>
                    <div class="grid-column--span-12">
                        <span class="font-weight--bold" data-th-text="#{core.example.ExampleItem}"></span>
                        <table class="width--100">
                            <colgroup>
                                <col style="width:1rem;"/>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>
                                    <button type="button" onclick="addExampleItem();">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </th>
                                <th data-th-text="#{web.global.no}"></th>
                                <th data-th-text="#{core.example.ExampleItem.itemId}"></th>
                                <th data-th-text="#{core.example.ExampleItem.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="example.exampleItems" data-duice-foreach="exampleItem,status" data-duice-editable="true">
                                <td>
                                    <button type="button"
                                            data-duice-biind="exampleItem"
                                            data-duice-execute="this.dataset.index=status.index;"
                                            onclick="removeExampleItem(this.dataset.index);">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                </td>
                                <td class="text-align--center">
                                    <span data-duice-bind="status" data-duice-property="count" class="number"></span>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" data-duice-bind="exampleItem" data-duice-property="itemId" class="width--100"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" data-duice-bind="exampleItem" data-duice-property="name" class="width--100"/>
                                    </label>
                                </td>
                            </tr>
                            <tr data-duice-bind="example.exampleItems" data-duice-if="return example.exampleItems.length === 0;" hidden>
                                <td colspan="100%" class="text-align--center">
                                    <span data-th-text="#{web.global.itemNotFound(#{core.example.ExampleItem})}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="display--flex justify-content--space-between">
                    <div></div>
                    <div class="display--flex justify-content--end gap--1px">
                        <button class="button"
                                type="button" onclick="deleteExample();"
                                th:classappend="!${#authorization.expression('hasAuthority(''example:edit'')')}?'locked'">
                            <i class="fa-regular fa-trash-can"></i>
                            <span data-th-text="#{web.global.delete}"></span>
                        </button>
                        <button class="button"
                                type="button" onclick="saveExample();"
                                th:classappend="!${#authorization.expression('hasAuthority(''example:edit'')')}?'locked'">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <span data-th-text="#{web.global.save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: detail                            -->
        <!-- ====================================== -->
    </div>
    <!-- ====================================== -->
    <!-- end: content                           -->
    <!-- ====================================== -->

</main>
