<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // defines
        const exampleSearch = new duice.ObjectProxy({
            key: 'name',
            value: null,
            type: null,
            code: null,
            _page: 0,
            _size: 15,
            _total: -1,
        });
        const examples = new duice.ArrayProxy([]);
        duice.ArrayProxy.setReadonlyAll(examples, true);
        const exampleCode = new duice.ObjectProxy([]);
        _getCode('core.example.Example.code').then(data => {
            duice.ObjectProxy.assign(exampleCode, data);
        });
        // prefer header
        let prefer = null;
        _fetch.interceptors.request.push(options=> {
            options.headers['Prefer'] = prefer;
        });

        /**
         * Changes prefer
         * @param value
         */
        function changePrefer(value) {
            prefer = value || null;
            document.dispatchEvent(new Event('DOMContentLoaded'));
        }

        /**
         * Gets examples
         * @param page page number
         */
        function getExamples(page) {
            if(Number.isFinite(parseInt(page))) {
                exampleSearch._page = parseInt(page);
            }
            let url = new URL(`${_apiUrl}/v1/examples`, document.location.origin);
            if (exampleSearch.key && exampleSearch.value) {
                url.searchParams.set(exampleSearch.key, exampleSearch.value);
            }
            if (exampleSearch.type) {
                url.searchParams.set('type', exampleSearch.type);
            }
            if (exampleSearch.code) {
                url.searchParams.set('code', exampleSearch.code);
            }
            url.searchParams.set('_page', exampleSearch._page);
            url.searchParams.set('_size', exampleSearch._size);
            duice.ArrayProxy.clear(examples);
            _fetch(url)
                .then(response => {
                    exampleSearch._total= _parseTotalCount(response);
                    return response.json()
                })
                .then(data => {
                    duice.ArrayProxy.assign(examples, data);
                });
        }

        /**
         * Resets examples
         */
        function resetExamples() {
            duice.ObjectProxy.reset(exampleSearch);
            getExamples();
        }

        /**
         * Gets specified example
         * @param exampleId example id
         */
        function getExample(exampleId) {
            exampleDialog.open({exampleId:exampleId}).then(result => {
                if (result) {
                    getExamples();
                }
            });
        }

        /**
         * Creates example
         */
        function createExample() {
            exampleDialog.open({exampleId:null}).then(result => {
                if (result) {
                    getExamples();
                }
            });
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getExamples();
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <div class="display--flex justify-content--space-between">
        <div>
            <h1>
                <i class="fa-solid fa-file"></i>
                <span>Modal Overlay Pattern</span>
            </h1>
        </div>
        <div class="align-self--center">
            <label>
                <select onchange="changePrefer(this.value);">
                    <option value="">Prefer DAO...</option>
                    <option value="dao=mybatis">Mybatis</option>
                    <option value="dao=queryDsl">QueryDsl</option>
                </select>
            </label>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: content                    -->
    <!-- ====================================== -->
    <div>
        <!-- ====================================== -->
        <!-- start: list                            -->
        <!-- ====================================== -->
        <div class="panel">
            <div class="panel-title">
                <h2>
                    <i class="fa-solid fa-list"></i>
                    <span data-th-text="|#{core.example.Example} #{web.global.list}|"></span>
                </h2>
            </div>
            <div class="panel-content">
                <form onsubmit="return false;" class="display--flex justify-content--space-between">
                    <div class="display--flex flex-wrap--wrap gap--1px">
                        <div class="display--flex flex-wrap--nowrap gap--1px">
                            <label class="flex--1">
                                <select data-duice-bind="exampleSearch" data-duice-property="key">
                                    <option value="name" th:text="#{core.example.Example.name}"></option>
                                </select>
                            </label>
                            <label class="flex--2">
                                <input type="text" data-duice-bind="exampleSearch" data-duice-property="value" th:placeholder="#{web.global.keyword}"/>
                            </label>
                        </div>
                        <div>
                            <label>
                                <select data-duice-bind="exampleSearch" data-duice-property="type" class="code">
                                    <option data-th-text="|#{core.example.Example.type}...|"></option>
                                    <option th:each="type: ${exampleTypes}"
                                            th:value="${type.name}"
                                            th:text="${type.name}"></option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label>
                                <select data-duice-bind="exampleSearch"
                                        data-duice-property="code"
                                        data-duice-option="exampleCode.codeItems"
                                        data-duice-option-value-property="itemId"
                                        data-duice-option-text-property="name"
                                        style="min-width:7rem;">
                                    <option data-th-text="|#{core.example.Example.code}...|"></option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="display--flex justify-content--end gap--1px">
                        <button class="button" type="submit" onclick="getExamples();">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <span data-th-text="#{web.global.search}"></span>
                        </button>
                        <button class="button" type="button" onclick="resetExamples();">
                            <i class="fa-solid fa-rotate-right"></i>
                            <span data-th-text="#{web.global.reset}"></span>
                        </button>
                    </div>
                </form>
                <div class="box overflow--auto">
                    <table class="table width--100 border--none">
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col style="width:20rem;"/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col style="width:5rem;"/>
                            <col style="width:7rem;"/>
                            <col style="width:7rem;"/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                            <th data-th-text="#{core.example.Example.name}"></th>
                            <th data-th-text="#{core.example.Example.number}"></th>
                            <th data-th-text="#{core.example.Example.decimalNumber}"></th>
                            <th data-th-text="#{core.example.Example.dateTime}"></th>
                            <th data-th-text="#{core.example.Example.date}"></th>
                            <th data-th-text="#{core.example.Example.time}"></th>
                            <th data-th-text="#{core.example.Example.enabled}"></th>
                            <th data-th-text="#{core.example.Example.type}"></th>
                            <th data-th-text="#{core.example.Example.code}"></th>
                            <th data-th-text="#{core.example.ExampleItem}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="examples" data-duice-foreach="example,status"
                            data-duice-selected-item-class="selected">
                            <td class="text-align--center">
                                <span data-duice-bind="status" data-duice-execute="this.innerHTML = (exampleSearch._page * exampleSearch._size) + status.count;" class="number"></span>
                            </td>
                            <td>
                                <a data-duice-bind="example"
                                   data-duice-execute="this.dataset.exampleId=example.exampleId;"
                                   href="javascript:void(0);"
                                   onclick="getExample(this.dataset.exampleId);">
                                    <img th:src="@{/static/image/icon-null.svg}" data-duice-bind="example" data-duice-property="icon" alt="" class="icon"/>
                                    <span data-duice-bind="example" data-duice-property="name"></span>
                                </a>
                            </td>
                            <td class="text-align--right">
                                <span data-duice-bind="example" data-duice-property="number" class="number"></span>
                            </td>
                            <td class="text-align--right">
                                <span data-duice-bind="example" data-duice-property="decimalNumber" data-duice-format="number(4)" class="number"></span>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="example" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')" class="date"></span>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="example" data-duice-property="date" data-duice-format="date('yyyy-MM-dd')" class="date"></span>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="example" data-duice-property="time" class="date"></span>
                            </td>
                            <td class="text-align--center">
                                <label>
                                    <input type="checkbox" data-duice-bind="example" data-duice-property="enabled"/>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select data-duice-bind="example" data-duice-property="type" class="code" style="min-width:7rem;">
                                        <option>-</option>
                                        <option th:each="type: ${exampleTypes}"
                                                th:value="${type.name}"
                                                th:text="${type.name}"></option>
                                    </select>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <select data-duice-bind="example"
                                            data-duice-property="code"
                                            data-duice-option="exampleCode.codeItems"
                                            data-duice-option-value-property="itemId"
                                            data-duice-option-text-property="name"
                                            style="min-width:7rem;">
                                        <option>-</option>
                                    </select>
                                </label>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="example"
                                      data-duice-execute="this.innerHTML=example.exampleItems?.length;"
                                      class="number badge border-radius--50"></span>
                            </td>
                        </tr>
                        <tr data-duice-bind="exampleSearch"
                            data-duice-if="return exampleSearch._total === 0;" hidden>
                            <td colspan="100%" class="text-align--center">
                                <span data-th-text="#{web.global.itemNotFound(#{core.example.Example})}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="display--flex justify-content--space-between">
                    <div class="flex--1">
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="exampleSearch" data-duice-property="_total"
                              data-duice-format="number(0)"
                              class="number"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="flex--1 display--flex justify-content--center">
                        <duice-pagination class="number"
                                          data-duice-bind="exampleSearch"
                                          data-duice-size-property="_size"
                                          data-duice-page-property="_page"
                                          data-duice-total-property="_total"
                                          data-duice-onclick="getExamples(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div class="flex--1 display--flex justify-content--end gap--1px">
                        <button class="button" type="button" onclick="createExample();">
                            <i class="fa-solid fa-plus"></i>
                            <span data-th-text="#{web.global.create}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: list                              -->
        <!-- ====================================== -->
    </div>
    <!-- ====================================== -->
    <!-- end: content                           -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: example dialog                  -->
    <!-- ====================================== -->
    <dialog id="exampleDialog" class="dialog">
        <style th:inline="css">
            #exampleDialog {
                width: 800px;
            }
        </style>
        <script th:inline="javascript">
            const exampleDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('exampleDialog'));
                const options = {
                    exampleId: null
                };
                const example = new duice.ObjectProxy({
                    exampleId: null,
                    exampleItems: []
                });
                const exampleCode = new duice.ObjectProxy([]);
                _getCode('core.example.Example.code').then(data => {
                    duice.ObjectProxy.assign(exampleCode, data);
                });

                /**
                 * Opens example dialog
                 * @param exampleId example id
                 */
                function open({exampleId}) {
                    options.exampleId = exampleId;
                    duice.ObjectProxy.clear(example);
                    if (options.exampleId) {
                        getExample(options.exampleId);
                    }
                    return dialog.open();
                }

                /**
                 * Gets example
                 * @param exampleId example id
                 */
                function getExample(exampleId) {
                    const url = new URL(`${_apiUrl}/v1/examples/${exampleId}`, document.location.origin);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ObjectProxy.assign(example, data);
                        });
                }

                /**
                 * Adds example item
                 */
                function addExampleItem() {
                    example.exampleItems.push({});
                }

                /**
                 * Removes example item
                 * @param index index
                 */
                function removeExampleItem(index) {
                    example.exampleItems.splice(index, 1);
                }

                /**
                 * Saves example
                 * @returns {Promise<boolean>}
                 */
                async function saveExample() {
                    // validates
                    if (!example.name) {
                        await _alert(/*[[#{web.global.itemEmpty(#{core.example.Example.name})}]]*/'');
                        duice.ObjectProxy.focus(example, 'name');
                        return false;
                    }
                    for (const exampleItem of example.exampleItems) {
                        if (!exampleItem.itemId) {
                            await _alert(/*[[#{web.global.itemEmpty(#{core.example.ExampleItem.itemId})}]]*/'');
                            duice.ObjectProxy.focus(exampleItem, 'itemId');
                            return false;
                        }
                        if (!exampleItem.name) {
                            await _alert(/*[[#{web.global.itemEmpty(#{core.example.ExampleItem.name})}]]*/'');
                            duice.ObjectProxy.focus(exampleItem, 'name');
                            return false;
                        }
                    }
                    _confirm(/*[[#{web.global.saveItemConfirm(#{core.example.Example})}]]*/'').then(result => {
                        if (result) {
                            let url;
                            let method;
                            if (!example.exampleId) {
                                url = `${_apiUrl}/v1/examples`;
                                method = 'POST';
                            } else {
                                url = `${_apiUrl}/v1/examples/${example.exampleId}`;
                                method = 'PUT';
                            }
                            _fetch(new URL(url, document.location.origin), {
                                method: method,
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(example)
                            })
                                .then(response => response.json())
                                .then(data => {
                                    _alert(/*[[#{web.global.saveItemComplete(#{core.example.Example})}]]*/'').then(() => {
                                        dialog.close(true);
                                    });
                                });
                        }
                    });
                }

                /**
                 * Deletes example
                 */
                function deleteExample() {
                    _confirm(/*[[#{web.global.deleteItemConfirm(#{core.example.Example})}]]*/'').then(result => {
                        if (result) {
                            let url = new URL(`${_apiUrl}/v1/examples/${example.exampleId}`, document.location.origin);
                            _fetch(url, {
                                method: 'DELETE'
                            }).then(response => {
                                if (response.ok) {
                                    _alert(/*[[#{web.global.deleteItemComplete(#{core.example.Example})}]]*/'').then(() => {
                                        dialog.close(true);
                                    });
                                }
                            })
                        }
                    });
                }

                // returns
                return {
                    open,
                    example,
                    exampleCode,
                    addExampleItem,
                    removeExampleItem,
                    saveExample,
                    deleteExample
                };
            })();
        </script>
        <div class="dialog-title">
            <h2>
                <i class="fa-regular fa-file-lines"></i>
                <span data-th-text="|#{core.example.Example} #{web.global.detail}|"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1em">
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold tag-important" data-th-text="#{core.example.Example.name}"></span>
                        <input type="text" data-duice-bind="exampleDialog.example" data-duice-property="name" class="font-weight--bold"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.icon}"></span>
                        <div>
                            <img th:src="@{/static/image/icon-null.svg}"
                                 data-duice-bind="exampleDialog.example"
                                 data-duice-property="icon"
                                 data-duice-editable="true"
                                 data-duice-size="32,32" class="icon" style="width:32px; height:32px;" alt=""/>
                        </div>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.number}"></span>
                        <input type="number" data-duice-bind="exampleDialog.example" data-duice-property="number" data-duice-format="number(0)" class="number"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.decimalNumber}"></span>
                        <input type="number" data-duice-bind="exampleDialog.example" data-duice-property="decimalNumber" data-duice-format="number(4)" class="number"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.dateTime}"></span>
                        <input type="datetime-local" data-duice-bind="exampleDialog.example" data-duice-property="dateTime" class="date"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.instantDateTime}"></span>
                        <input type="datetime-local" data-duice-bind="exampleDialog.example" data-duice-property="instantDateTime" class="date"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.zonedDateTime}"></span>
                        <input type="datetime-local" data-duice-bind="exampleDialog.example" data-duice-property="zonedDateTime" class="date"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.date}"></span>
                        <input type="date" data-duice-bind="exampleDialog.example" data-duice-property="date" class="date"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.time}"></span>
                        <input type="time" data-duice-bind="exampleDialog.example" data-duice-property="time" class="date"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label>
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.enabled}"></span>
                        <br/>
                        <input type="checkbox" data-duice-bind="exampleDialog.example" data-duice-property="enabled"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.type}"></span>
                        <select data-duice-bind="exampleDialog.example" data-duice-property="type" class="code">
                            <option>-</option>
                            <option th:each="type: ${exampleTypes}"
                                    th:value="${type.name}"
                                    th:text="${type.name}"></option>
                        </select>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.code}"></span>
                        <select data-duice-bind="exampleDialog.example" data-duice-property="code"
                                data-duice-option="exampleDialog.exampleCode.codeItems"
                                data-duice-option-value-property="itemId"
                                data-duice-option-text-property="name">
                            <option>-</option>
                        </select>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.text}"></span>
                        <textarea data-duice-bind="exampleDialog.example" data-duice-property="text"></textarea>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label class="display--flex flex-direction--column">
                        <span class="font-weight--bold" data-th-text="#{core.example.Example.cryptoText}"></span>
                        <textarea data-duice-bind="exampleDialog.example" data-duice-property="cryptoText"></textarea>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <span class="font-weight--bold" data-th-text="#{core.example.ExampleItem}"></span>
                    <table class="width--100">
                        <colgroup>
                            <col style="width:1rem;"/>
                            <col style="width:5rem;"/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>
                                <button type="button" onclick="exampleDialog.addExampleItem();">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </th>
                            <th data-th-text="#{web.global.no}"></th>
                            <th data-th-text="#{core.example.ExampleItem.itemId}"></th>
                            <th data-th-text="#{core.example.ExampleItem.name}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="exampleDialog.example.exampleItems" data-duice-foreach="exampleItem,status" data-duice-editable="true">
                            <td>
                                <button type="button"
                                        data-duice-biind="exampleItem"
                                        data-duice-execute="this.dataset.index=status.index;"
                                        onclick="exampleDialog.removeExampleItem(this.dataset.index);">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="status" data-duice-property="count" class="number"></span>
                            </td>
                            <td>
                                <label>
                                    <input type="text" data-duice-bind="exampleItem" data-duice-property="itemId" class="width--100"/>
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" data-duice-bind="exampleItem" data-duice-property="name" class="width--100"/>
                                </label>
                            </td>
                        </tr>
                        <tr data-duice-bind="exampleDialog.example.exampleItems" data-duice-if="return exampleDialog.example.exampleItems.length === 0;" hidden>
                            <td colspan="100%" class="text-align--center">
                                <span data-th-text="#{web.global.itemNotFound(#{core.example.ExampleItem})}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="display--flex justify-content--space-between">
                <div></div>
                <div class="display--flex justify-content--end gap--1px">
                    <button class="button"
                            type="button" onclick="exampleDialog.deleteExample();"
                            th:classappend="!${#authorization.expression('hasAuthority(''example:edit'')')}?'locked'">
                        <i class="fa-regular fa-trash-can"></i>
                        <span data-th-text="#{web.global.delete}"></span>
                    </button>
                    <button class="button"
                            type="button" onclick="exampleDialog.saveExample();"
                            th:classappend="!${#authorization.expression('hasAuthority(''example:edit'')')}?'locked'">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <span data-th-text="#{web.global.save}"></span>
                    </button>
                </div>
            </div>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: example dialog                    -->
    <!-- ====================================== -->

</main>
