
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = 'http://localhost:8080/board/anonymous/article?articleId=8fb7622000744407af0d762c71fe02f1';
        this.page.identifier = 'test_identifier';
        // ✅ Disqus 로딩 완료 후 높이 전송
        this.callbacks.onReady = [function() {
            setTimeout(function () {
                const height = document.body.scrollHeight;
                parent.postMessage({ height: height }, '*'); // or specify origin
            }, 500); // 약간 딜레이를 줘야 정확한 높이 측정
        }];
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://arch4j-chomookun-org.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>