<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // defines
        const boardId = /*[[${board.boardId}]]*/'';
        const board = new duice.ObjectProxy({});
        const articleId = new URL(location.href).searchParams.get('articleId');
        const article = new duice.ObjectProxy({
            articleFiles:[]
        });

        const getBoard = function() {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}`, location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(board, data);
                });
        }

        const getArticle = function() {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`, location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        const downloadArticleFile = function(fileId) {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/files/${fileId}`);
            let link = document.createElement('a');
            link.href = url.toString();
            link.click();
        }

        const gotoArticleEdit = function() {
            let url = new URL(`${_rootUrl}/board/${boardId}/article/edit`, location.origin);
            url.searchParams.set('articleId', articleId);
            location.href = url.toString();
        }

        const gotoBoard = function() {
            location.href = `${_rootUrl}/board/${boardId}`;
        }

        // initializes
        _initialize(() => {
            getBoard();
            getArticle();
            _comment.getComments();
        });
    </script>
    <th:block th:replace="|_theme/${_theme}/board/${board.skin}/article.html|"/>

    <hr/>

    <th:block th:replace="|comment/comment.html|"/>
    <script th:inline="javascript">
        _comment.configure({
            createComment: function(comment) {
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/comments`, location.origin);
                return _fetch(url, {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify(comment)
                }).then(response => response.json());
            },
            getComments: function() {
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/comments`, location.origin);
                return _fetch(url).then(response => response.json());
            },
            getComment: function(commentId) {
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/comments/${commentId}`, location.origin);
                return _fetch(url).then(response => response.json());
            },
            updateComment: function(comment) {
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/comments/${comment.commentId}`, location.origin);
                return _fetch(url, {
                    headers: {'Content-Type': 'application/json'},
                    method: 'PUT',
                    body: JSON.stringify(comment)
                }).then(response => response.json());
            },
            deleteComment: function(commentId) {
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/comments/${commentId}`, location.origin);
                return _fetch(url, {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'}
                }).then();
            }
        });
    </script>

    <hr/>

    <th:block th:replace="|comment/provider/disqus.html|"/>

</main>
