<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        const boardId = /*[[${boardId}]]*/'';
        const articleId = /*[[${articleId}]]*/'';
        const board = new duice.ObjectProxy({});
        const article = new duice.ObjectProxy({
            articleId: null,
            format: 'TEXT',
            articleFiles: []
        });
        const files = [];

        const getBoard = function() {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}`, location.origin);
            _fetch(url).then(response => response.json()).then(data => {
                duice.ObjectProxy.assign(board, data);
            });
        }

        const getArticle = function() {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`, location.origin);
            _fetch(url).then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        const uploadArticleFiles = async function(files) {
            console.log(files);
            const fileResponses = [];
            for (const file of files) {
                console.log(file);
                let formData = new FormData();
                formData.set("file", file);
                let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}/files`, location.origin);
                await _fetch(url, {
                    method: 'POST',
                    body: formData
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    fileResponses.push(data);
                });
            }
            return fileResponses;
        }

        const saveArticle = function() {
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.board.Article})}]]*/'').then(result => {
                if(result) {
                    let url;
                    let method;
                    // modify article
                    if(article.articleId) {
                        url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`, location.origin);
                        method = 'PUT';
                    }
                    // create article
                    else{
                        url =new URL(`${_apiUrl}/v1/boards/${boardId}/articles`, location.origin);
                        method = 'POST';
                    }
                    _fetch(url, {
                        headers: {'Content-Type': 'application/json'},
                        method: method,
                        body: JSON.stringify(article)
                    }).then(response => {
                        if(response.ok) {
                            _alert(/*[[#{web.global.saveItemComplete(#{core.board.Article})}]]*/'').then(()=>{
                                history.back();
                            });
                        }
                    });
                }
            });
        }

        const deleteArticle = function() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.board.Article})}]]*/'').then(result => {
                if(result) {
                    let url = `${_apiUrl}/v1/board/${boardId}/article/${articleId}`;
                    _fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(article)
                    }).then(response=> {
                        if(response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.board.Article})}]]*/'').then(()=>{
                                gotoBoard();
                            });
                        }
                    });
                }
            });
        }

        // initializes
        _initialize(() => {
            getBoard();
            if (new URL(location.href).searchParams.has('articleId')) {
                getArticle(articleId);
            }
        });
    </script>
    <th:block th:replace="|_theme/${_theme}/board/${board.skin}/article-edit.html|"/>
</main>
