<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // defines
        const boardId = [[${board.boardId}]];
        const board = new duice.ObjectProxy({});
        const articleSearch = new duice.ObjectProxy({
            key: 'title',
            value: null,
            _page: 0,
            _size: /*[[${board.pageSize}]]*/'',
            _total: -1
        });
        const articles = new duice.ArrayProxy([]);

        const getBoard = function() {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}`, location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(board, data);
                });
        }

        const getArticles = function(page) {
            if(page) {
                articleSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles`, location.origin);
            if(articleSearch.key && articleSearch.value) {
                url.searchParams.set(articleSearch.key, articleSearch.value);
            }
            url.searchParams.set('_page', articleSearch._page);
            url.searchParams.set('_size', articleSearch._size);
            _fetch(url)
            .then(response => {
                articleSearch._total = _parseTotalCount(response);
                return response.json();
            }).then(data => {
                data.forEach((it,index) => {
                    it.no = articleSearch._total - (articleSearch._page * articleSearch._size) - index;
                });
                duice.ArrayProxy.clear(articles);
                duice.ArrayProxy.assign(articles, data);
            });
        }

        const gotoArticle = function(articleId) {
            location.href = `${_rootUrl}/board/${boardId}/article?articleId=${articleId}`;
        }

        const gotoArticleEdit = function() {
            location.href = `${_rootUrl}/board/${boardId}/article/edit`;
        }

        // initializes
        _initialize(() => {
            getBoard();
            getArticles();
        });
    </script>
    <th:block th:replace="|_theme/${_theme}/board/${board.skin}/board.html|"/>
</main>
