<!-- ====================================== -->
<!-- start: select role dialog              -->
<!-- ====================================== -->
<th:block th:fragment="_selectRoleDialog">
<dialog id="_selectRoleDialog" class="dialog">
    <style th:inline="css">
        #_selectRoleDialog {
            width: 800px;
        }
    </style>
    <script th:inline="javascript">
        const _selectRoleDialog = (() => {
            const dialog = new duice.Dialog(document.getElementById('_selectRoleDialog'));
            const options = {
                disabledRoleIds: []
            }
            const roleSearch = new duice.ObjectProxy({
                key: 'roleId',
                value: null,
                _page: 0,
                _size: 5,
                _total: -1
            });
            const roles = new duice.ArrayProxy([]);
            const selectedRoles = new duice.ArrayProxy([]);

            /**
             * Opens dialog
             * @param disabledRoleIds
             * @returns {*}
             */
            function open({disabledRoleIds = []}) {
                options.disabledRoleIds = disabledRoleIds;
                duice.ArrayProxy.clear(this.selectedRoles);
                getRoles(0);
                return dialog.open();
            }

            /**
             * Gets roles
             * @param page page number
             */
            async function getRoles(page) {
                if(page) {
                    roleSearch._page = page;
                }
                let url = new URL(/*[[@{/admin/common/get-roles}]]*/'',document.location.origin);
                if(roleSearch.key && roleSearch.value) {
                    url.searchParams.set(roleSearch.key, roleSearch.value);
                }
                url.searchParams.set('_page', roleSearch._page);
                url.searchParams.set('_size', roleSearch._size);
                await _fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        duice.ArrayProxy.clear(roles);
                        duice.ArrayProxy.assign(roles, data.content);
                        roleSearch._total = data['totalElements'];
                        // check already selected
                        roles.forEach(role => {
                            if(options.disabledRoleIds.includes(role.roleId)){
                                role['_selected'] = true;
                            }
                            selectedRoles.forEach(element => {
                                if(element.roleId === role.roleId) {
                                    role['_selected'] = true;
                                }
                            });
                        });
                    });
            }

            /**
             * Resets roles
             */
            function resetRoles() {
                duice.ObjectProxy.reset(this.roleSearch);
                getRoles();
            }

            /**
             * Selects role
             * @param index
             */
            function selectRole(index) {
                let role = JSON.parse(JSON.stringify(roles[index]));
                selectedRoles.push(role);
                roles.forEach(element => {
                    if(element.roleId === role.roleId) {
                        element['_selected'] = true;
                        return false;
                    }
                });
            }

            /**
             * Deselect role
             * @param index
             * @returns {Promise<void>}
             */
            async function deselectRole(index) {
                let role = this.selectedRoles[index];
                selectedRoles.splice(index, 1);
                roles.forEach(element => {
                    if(element.roleId === role.roleId) {
                        element['_selected'] = false;
                        return false;
                    }
                });
            }

            /**
             * Confirms
             */
            function confirm() {
                dialog.close(selectedRoles);
            }

            // returns
            return {
                open,
                options,
                roleSearch,
                roles,
                selectedRoles,
                getRoles,
                selectRole,
                deselectRole,
                confirm
            };
        })();
    </script>
    <div class="dialog-title">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-role.svg}" alt="role"/>
            <span data-th-text="#{core.security.Role}"></span>
        </h2>
    </div>
    <div class="dialog-content">
        <form onsubmit="return false;" class="display--flex flex-wrap--wrap gap--1rem justify-content--space-between">
            <div>
                <div class="white-space--nowrap">
                    <label>
                        <select data-duice-bind="_selectRoleDialog.roleSearch" data-duice-property="key">
                            <option value="roleId" th:text="#{core.security.Role.roleId}"></option>
                            <option value="name" th:text="#{core.security.Role.name}"></option>
                        </select>
                    </label>
                    <label>
                        <input type="text" data-duice-bind="_selectRoleDialog.roleSearch" data-duice-property="value"/>
                    </label>
                </div>
            </div>
            <div class="white-space--nowrap text-align--right s__text-align--left">
                <button class="button" onclick="_selectRoleDialog.getRoles();">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                    <span data-th-text="#{web.global.search}">Search</span>
                </button>
                <button class="button" onclick="_selectRoleDialog.resetRoles();">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                    <span data-th-text="#{web.global.reset}">Reset</span>
                </button>
            </div>
        </form>
        <div class="overflow--scroll box">
            <table class="table width--100 border--none">
                <colgroup>
                    <col style="width:3em;"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th class="text-align--center">-</th>
                    <th data-th-text="#{core.security.Role.roleId}"></th>
                    <th data-th-text="#{core.security.Role.name}"></th>
                    <th data-th-text="#{core.security.Role.anonymous}" class="text-align--center"></th>
                    <th data-th-text="#{core.security.Role.authenticated}" class="text-align--center"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="_selectRoleDialog.roles" data-duice-foreach="role,status">
                    <td class="text-align--center">
                        <button type="button" class="button small"
                                data-duice-bind="role"
                                data-duice-execute="
                                this.dataset.index = status.index;
                                if(role._selected) {
                                    this.disabled = true;
                                } else {
                                    this.disabled = false;
                                }"
                                onclick="_selectRoleDialog.selectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                        </button>
                    </td>
                    <td>
                    <span data-duice-bind="role"
                          data-duice-property="roleId"
                          data-duice-execute="this.classList.toggle('tag-system-required', role.systemRequired);"
                          class="code"></span>
                    </td>
                    <td>
                        <span data-duice-bind="role" data-duice-property="name"></span>
                    </td>
                    <td class="text-align--center">
                        <label>
                            <input type="checkbox" data-duice-bind="role" data-duice-property="anonymous" onclick="return false;"/>
                        </label>
                    </td>
                    <td class="text-align--center">
                        <label>
                            <input type="checkbox" data-duice-bind="role" data-duice-property="authenticated" onclick="return false;"/>
                        </label>
                    </td>
                </tr>
                <tr data-duice-bind="_selectRoleDialog.roles"
                    data-duice-execute="if(_selectRoleDialog.roles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="display--flex justify-content--space-between">
            <div class="flex--1">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="_selectRoleDialog.roleSearch" data-duice-property="_total" data-duice-format="number()"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
            <duice-pagination
                    data-duice-bind="_selectRoleDialog.roleSearch"
                    data-duice-size-property="_size"
                    data-duice-page-property="_page"
                    data-duice-total-property="_total"
                    data-duice-onclick="_selectRoleDialog.getRoles(this.dataset.page);">
            </duice-pagination>
            <div class="flex--1"></div>
        </div>
        <div class="overflow--scroll box">
            <table class="table width--100 border--none">
                <colgroup>
                    <col style="width:3em;"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th class="text-align--center">-</th>
                    <th data-th-text="#{core.security.Role.roleId}"></th>
                    <th data-th-text="#{core.security.Role.name}"></th>
                    <th data-th-text="#{core.security.Role.anonymous}" class="text-align--center"></th>
                    <th data-th-text="#{core.security.Role.authenticated}" class="text-align--center"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="_selectRoleDialog.selectedRoles" data-duice-foreach="role,status">
                    <td class="text-align--center">
                        <button data-duice-bind="role" class="button small"
                                data-duice-execute="this.dataset.index = status.index;"
                                onclick="_selectRoleDialog.deselectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                        </button>
                    </td>
                    <td>
                    <span data-duice-bind="role"
                          data-duice-property="roleId"
                          data-duice-execute="this.classList.toggle('tag-system-required', role.systemRequired);"
                          class="code"></span>
                    </td>
                    <td>
                        <span data-duice-bind="role" data-duice-property="name"></span>
                    </td>
                    <td class="text-align--center">
                        <label>
                            <input type="checkbox" data-duice-bind="role" data-duice-property="anonymous" onclick="return false;"/>
                        </label>
                    </td>
                    <td class="text-align--center">
                        <label>
                            <input type="checkbox" data-duice-bind="role" data-duice-property="authenticated" onclick="return false;"/>
                        </label>
                    </td>
                </tr>
                <tr data-duice-bind="_selectRoleDialog.selectedRoles"
                    data-duice-execute="if(_selectRoleDialog.selectedRoles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="display--flex justify-content--end">
            <button class="button" onclick="_selectRoleDialog.confirm();">
                <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                <span data-th-text="#{web.global.confirm}"></span>
            </button>
        </div>
    </div>
</dialog>
</th:block>
<!-- ====================================== -->
<!-- end: select role dialog                -->
<!-- ====================================== -->
