<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<body layout:fragment="_body">
    <script th:inline="javascript">
        const login = new duice.ObjectProxy({
            username: null,
            password: null,
            message: null
        });

        /**
         * Request login
         * @returns {Promise<boolean>}
         */
        async function requestLogin() {
            if(_isEmpty(login.username)){
                await _alert([[#{web.global.itemEmpty(#{core.user.User.username})}]]);
                duice.ObjectProxy.focus(login, 'username');
                return false;
            }
            if(_isEmpty(login.password)){
                await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                duice.ObjectProxy.focus(login, 'password');
                return false;
            }
            // request login
            let url = new URL(`${window.location.pathname}/process`, document.location.origin);
            let payload = new URLSearchParams();
            payload.append('username', login.username);
            payload.append('password', login.password);
            _fetch(url, {
                method: 'POST',
                body: payload,
                headers: {'Accept': 'application/json'},
                _suppressError: true
            }).then(async function (response) {
                console.error(response);
                if (response.ok) {
                    document.location.href = '/admin';
                } else {
                    let json = await response.json();
                    login.message = json.message;
                    duice.ObjectProxy.focus(login, 'usernmae');
                }
            });
        }
    </script>
    <style>
        #login {
            width: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -75%);
        }
        #_brand,
        #_brand * {
            display: inline-block;
            height: 2rem;
            font-weight: bold;
        }
        .dark-mode #_brand {
            filter: invert(0.9);
        }
    </style>
    <main>
        <!-- ================================== -->
        <!-- start: login                       -->
        <!-- ================================== -->
        <div id="login" class="panel">
            <div class="panel-title justify-content--center padding-bottom--1rem">
                <span id="_brand" onclick="_gotoIndex();" class="cursor--pointer">
                    <img src="/static/image/arch4j-icon.svg" alt=""/><img src="/static/image/arch4j-title.svg" alt=""/>
                </span>
            </div>
            <div class="panel-content">
                <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1rem">
                    <label class="grid-column--span-12">
                        <input type="text" autocomplete="off"
                               data-duice-bind="login" data-duice-property="username"
                               class="width--100 text-align--center"
                               th:placeholder="#{web.admin.login.userId}"/>
                    </label>
                    <label class="grid-column--span-12">
                        <input type="password" autocomplete="off"
                               data-duice-bind="login" data-duice-property='password'
                               class="width--100 text-align--center"
                               th:placeholder="#{web.admin.login.password}"/>
                    </label>
                    <div class="grid-column--span-12">
                        <button type="submit" onclick="requestLogin();" class="width--100">
                            <img class="icon" th:src="@{/static/image/icon-login.svg}">
                            <span data-th-text="#{web.global.login}"></span>
                        </button>
                    </div>
                    <div class="grid-column--span-12 justify-self--center">
                        <span data-duice-bind="login" data-duice-property="message"></span>
                    </div>
                    <div class="grid-column--span-12 justify-self--center">
                        <div class="grid-column--span-12">
                            <label>
                                <span class="icon dark-mode-switch" onclick="_toggleDarkMode();"></span>
                            </label>
                            &nbsp;
                            <span class="font-size--xx-small">|</span>
                            &nbsp;
                            <label>
                                <select class="font-size--smaller" onchange="_changeLanguage(this.value);">
                                    <option>language...</option>
                                    <option th:each="locale : ${_locales}" th:value="${locale.language}" th:text="${locale.displayLanguage}" th:selected="${locale.language == _locale.language}"></option>
                                </select>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: login                         -->
        <!-- ================================== -->
    </main>
<!-- ================================== -->
<!-- end: main                          -->
<!-- ================================== -->
</body>
