<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        const menuSearch = new duice.ObjectProxy({
            _status: null
        });
        const menus = new duice.ArrayProxy([]);
        const menu = new duice.ObjectProxy({
            menuId: null,
            name: null,
            parentMenu: {},
            viewRoles: [],
            linkRoles: []
        });
        duice.ObjectProxy.setDisabledAll(menu, true);

        /**
         * Gets menus
         */
        function getMenus() {
            let url = new URL(`${location.pathname}/get-menus`, location.origin);
            menus.lenght = 0;
            menuSearch._status = 'loading';
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    menuSearch._status = data.length < 1 ? 'empty' : null;
                    duice.ArrayProxy.assign(menus, data);
                    // select current item
                    duice.ArrayProxy.selectItem(menus, menus.findIndex(it => it.menuId === menu.menuId));
                });
        }

        /**
         * Gets menu
         * @param menuId menu id
         */
        function getMenu(menuId) {
            let url = new URL(`${location.pathname}/get-menu`, location.origin);
            url.searchParams.append('menuId', menuId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.setDisabledAll(menu, false);
                    duice.ObjectProxy.clear(menu);
                    duice.ObjectProxy.assign(menu, data);
                    duice.ObjectProxy.setReadonly(menu, 'menuId', true);
                    duice.ObjectProxy.setReadonly(menu, 'parentMenuName', true);

                    // parent menu
                    if (data.parentMenuId) {
                        getParentMenu(menu.parentMenuId);
                    }

                    // mobile browser
                    if (_isMobileBrowser()) {
                        document.getElementById('menu-detail')?.scrollIntoView({behavior:'smooth'});
                        if (location.hash !== '#menu-detail') {
                            history.pushState(null, '', '#menu-detail');
                        }
                    }
                });
        }

        /**
         * creates menu
         */
        function createMenu() {
            duice.ObjectProxy.clear(menu);
            duice.ObjectProxy.assign(menu, {
                _new: true
            });
            duice.ObjectProxy.setDisabledAll(menu, false);
            duice.ObjectProxy.focus(menu, 'name');
        }

        /**
         * gets parent menu
         * @param parentMenuId
         */
        function getParentMenu(parentMenuId) {
            if (parentMenuId) {
                let url = new URL(`${location.pathname}/get-menu`, location.origin);
                url.searchParams.set('menuId', parentMenuId);
                _fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        menu.parentMenuName = data.name;
                    });
            }
        }

        /**
         * clears parent menu
         */
        function clearParentMenu() {
            menu.parentMenuId = null;
            menu.parentMenuName = null;
        }

        /**
         * saves menu
         * @returns {Promise<void>}
         */
        async function saveMenu() {
            // check menu name
            if(_isEmpty(menu.name)) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.menu.Menu.name})}]]*/'');
                duice.ObjectProxy.focus(menu, 'name');
                return;
            }
            // calls save
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.menu.Menu})}]]*/'').then(result => {
                if(result) {
                    let url = new URL(`${location.pathname}/save-menu`, location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type' : 'application/json'
                        },
                        body: JSON.stringify(menu)
                    })
                    .then(response => response.json())
                    .then(data => {
                        _alert(/*[[#{web.global.saveItemComplete(#{core.menu.Menu})}]]*/'').then(() => {
                            menu.menuId = data.menuId;
                            getMenus();
                        });
                    });
                }
            });
        }

        /**
         * deletes menu
         */
        function deleteMenu() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.menu.Menu})}]]*/'').then(result => {
                if(result) {
                    let url = new URL(`${location.pathname}/delete-menu`, location.origin);
                    url.searchParams.append('menuId', menu.menuId);
                    _fetch(url).then(response => {
                        if(response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.menu.Menu})}]]*/'').then(() => {
                                getMenus();
                            });
                        }
                    })
                }
            });
        }

        /**
         * select parent menu
         */
        function selectParentMenu() {
            let disabledMenuIds = [ menu.menuId ];
            selectMenuDialog.open(disabledMenuIds).then(selectedMenu => {
                menu.parentMenuId = selectedMenu.menuId;
                menu.parentMenuName = selectedMenu.name;
            });
        }

        /**
         * Adds view menu role
         * @returns {Promise<void>}
         */
        async function addViewRole() {
            let disabledRoleIds = [];
            menu.viewRoles.forEach(role=>{
                disabledRoleIds.push(role.menuId);
            });
            let selectedRoles = await _selectRoleDialog.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                menu.viewRoles.push(role);
            });
        }

        /**
         * Removes view menu role
         * @param index row index
         */
        function removeViewRole(index) {
            menu.viewRoles.splice(index, 1);
        }

        /**
         * adds link menu role
         * @returns {Promise<void>}
         */
        async function addLinkRole() {
            let disabledRoleIds = [];
            menu.linkRoles.forEach(role=>{
                disabledRoleIds.push(role.menuId);
            });
            let selectedRoles = await _selectRoleDialog.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                menu.linkRoles.push(role);
            });
        }

        /**
         * removes link menu role
         * @param index row index
         */
        function removeLinkRole(index) {
            menu.linkRoles.splice(index, 1);
        }

        /**
         * opens menu
         */
        function openMenu() {
            let url = new URL(menu.link, document.location.origin);
            window.open(url,'_blank');
        }

        // Initializes
        _initialize(() => {
            getMenus();
        });
    </script>
    <style th:inline="css">
        .menu-item {
            padding: 0.0rem 1rem;
            border-radius: 2px;
        }
        .menu-item:hover {
            background-color: var(--duice-table-tbody-hover-background);
        }
        .menu-item.selected {
            background-color: var(--duice-table-tbody-hover-background);
            font-weight: bold;
            text-decoration: underline;
        }
    </style>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-menu.svg}" alt="menu"/>
        <span data-th-text="#{web.admin.menu}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: menu-content                -->
    <!-- ================================== -->
    <div id="menu-content" class="display--grid grid-template-columns--12fr gap--1em">
        <div class="grid-column--span-6 s__grid-column--span-12">
            <!-- ================================== -->
            <!-- start: menu list                   -->
            <!-- ================================== -->
            <div id="menu-list" class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                        <span data-th-text="#{core.menu.Menu}+' '+#{web.global.list}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <div>
                        <div data-duice-bind="menus"
                             data-duice-foreach="menu,status"
                             data-duice-recursive="menuId,parentMenuId"
                             data-duice-selected-item-class="selected"
                             data-duice-execute="
                            this.dataset.menuId = menu.menuId;
                            if(menu.parentMenuId) {
                                this.style.marginLeft=status.depth + 'em';
                            }"
                            onclick="getMenu(this.dataset.menuId);"
                            class="menu-item link">
                            <img data-duice-bind="menu" data-duice-property="icon" class="icon"
                                 th:src="@{/static/image/icon-null.svg}" alt=""/>
                            <span data-duice-bind="menu" data-duice-property="name"></span>
                            <i data-duice-bind="menu" data-duice-if="return menu.systemRequired;" class="tag-system-required"></i>
                        </div>
                    </div>
                    <div data-duice-bind="menuSearch"
                        data-duice-if="return menuSearch._status === 'loading';"
                        class="text-align--center">
                        <span class="loading"></span>
                    </div>
                </div>
                <div class="text-align--right">
                    <button class="button" type="button" onclick="createMenu();">
                        <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                        <span data-th-text="#{web.global.create}"></span>
                    </button>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: menu-list                     -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-6 s__grid-column--span-12">
            <!-- ================================== -->
            <!-- start: menu-detail                 -->
            <!-- ================================== -->
            <div id="menu-detail" class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                        <span data-th-text="#{core.menu.Menu}+' '+#{web.global.detail}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1em">
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.menu.Menu.name}" class="font-weight--bold"></span><i class="tag-important"></i><i class="tag-i18n"></i>
                                <input type="text" data-duice-bind="menu" data-duice-property="name" class="width--100"/>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <span data-th-text="#{core.menu.Menu.parentMenu}" class="font-weight--bold"></span>
                            <br/>
                            <div class="display--flex flex-wrap--nowrap gap--1px">
                                <label>
                                    <input data-duice-bind="menu" data-duice-property="parentMenuName"/>
                                </label>
                                <button class="button" type="button" onclick="selectParentMenu();"
                                        data-duice-bind="menu"
                                        data-duice-execute="(menu.menuId || menu._new) ? this.disabled=false : this.disabled=true;">
                                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt=""/>
                                </button>
                                <button class="button" type="button" onclick="clearParentMenu();"
                                        data-duice-bind="menu"
                                        data-duice-execute="(menu.menuId || menu._new) ? this.disabled=false : this.disabled=true;">
                                    <img class="icon" th:src="@{/static/image/icon-clear.svg}" alt=""/>
                                </button>
                            </div>
                        </div>
                        <div class="grid-column--span-12">
                            <span data-th-text="#{core.menu.Menu.icon}" class="font-weight--bold"></span>
                            <div class="width--100">
                                <img class="icon" th:src="@{/static/image/icon-null.svg}"
                                     data-duice-bind="menu"
                                     data-duice-property="icon"
                                     data-duice-width="32"
                                     data-duice-height="32"
                                     data-duice-editable="true"
                                     style="width:32px; height:32px;" alt=""/>
                            </div>
                        </div>
                        <div class="grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.menu.Menu.link}" class="font-weight--bold"></span>
                                <input type="text" data-duice-bind="menu" data-duice-property="link" class="width--100 code"/>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.menu.Menu.target}" class="font-weight--bold"></span>
                                <select class="width--100" data-duice-bind="menu" data-duice-property="target">
                                    <option value th:text="|#{web.global.select}...|"></option>
                                    <option th:each="menuTarget:${menuTargets}" th:value="${menuTarget}"
                                            th:text="${menuTarget}"></option>
                                </select>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.menu.Menu.sort}" class="font-weight--bold"></span>
                                <input class="width--100" type="number" data-duice-bind="menu" data-duice-property="sort"/>
                            </label>
                        </div>
                        <div class="grid-column--span-12">
                            <span data-th-text="#{core.menu.Menu.note}" class="font-weight--bold tag-optional"></span>
                            <label class="display--flex">
                                <textarea data-duice-bind="menu" data-duice-property="note" class="width--100"></textarea>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.menu.Menu.enabled}" class="font-weight--bold"></span>
                                <br/>
                                <input type="checkbox" data-duice-bind="menu" data-duice-property="enabled"/>
                            </label>
                        </div>
                        <div class="grid-column--span-12">
                            <span data-th-text="#{core.menu.Menu.viewRoles}" class="font-weight--bold"></span>
                            <table class="width--100">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align--center">
                                        <button class="button small" type="button" onclick="addViewRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.security.Role.roleId}"></th>
                                    <th data-th-text="#{core.security.Role.name}"></th>
                                    <th data-th-text="#{core.security.Role.anonymous}" class="text-align--center"></th>
                                    <th data-th-text="#{core.security.Role.authenticated}" class="text-align--center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="menu.viewRoles" data-duice-foreach="role,status">
                                    <td class="text-align--center">
                                        <button class="button small" type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeViewRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td>
                                    <span data-duice-bind="role" data-duice-property="roleId"
                                          data-duice-execute="this.classList.toggle('tag-system-required', role.systemRequired);"
                                          class="code"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="role" data-duice-property="roleName"></span>
                                    </td>
                                    <td class="text-align--center">
                                        <label>
                                            <input type="checkbox" data-duice-bind="role" data-duice-property="anonymous" onclick="return false;"/>
                                        </label>
                                    </td>
                                    <td class="text-align--center">
                                        <label>
                                            <input type="checkbox" data-duice-bind="role" data-duice-property="authenticated" onclick="return false;"/>
                                        </label>
                                    </td>
                                </tr>
                                <tr data-duice-bind="menu.viewRoles"
                                    data-duice-if="return menu.viewRoles.length < 1;" hidden>
                                    <td colspan="100%" class="text-align--center">
                                        <span data-th-text="#{web.global.itemNotFound(#{core.security.Role})}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="grid-column--span-12">
                            <span data-th-text="#{core.menu.Menu.linkRoles}" class="font-weight--bold"></span>
                            <table class="width--100">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align--center">
                                        <button class="button small" type="button" onclick="addLinkRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.security.Role.roleId}"></th>
                                    <th data-th-text="#{core.security.Role.name}"></th>
                                    <th data-th-text="#{core.security.Role.anonymous}" class="text-align--center"></th>
                                    <th data-th-text="#{core.security.Role.authenticated}" class="text-align--center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="menu.linkRoles" data-duice-foreach="role,status">
                                    <td class="text-align--center">
                                        <button class="button small" type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeLinkRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                        </button>
                                    </td>
                                    <td>
                                        <span data-duice-bind="role"
                                              data-duice-property="roleId"
                                              data-duice-execute="this.classList.toggle('tag-system-required', role.systemRequired);"
                                              class="code"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="role" data-duice-property="roleName"></span>
                                    </td>
                                    <td class="text-align--center">
                                        <label>
                                            <input type="checkbox" data-duice-bind="role" data-duice-property="anonymous" onclick="return false;"/>
                                        </label>
                                    </td>
                                    <td class="text-align--center">
                                        <label>
                                            <input type="checkbox" data-duice-bind="role" data-duice-property="authenticated" onclick="return false;"/>
                                        </label>
                                    </td>
                                </tr>
                                <tr data-duice-bind="menu.linkRoles"
                                    data-duice-if="return menu.linkRoles.length < 1;" hidden>
                                    <td colspan="100%" class="text-align--center">
                                        <span data-th-text="#{web.global.itemNotFound(#{core.security.Role})}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="display--flex justify-content--space-between">
                        <div class="display--flex gap--1px">
                            <button class="button" type="button" onclick="openMenu();"
                                    data-duice-bind="menu"
                                    data-duice-execute="(menu.menuId && !menu._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                                <span data-th-text="#{web.admin.menu.openMenu}"></span>
                            </button>
                        </div>
                        <div class="display--flex justify-content--end gap--1px">
                            <button class="button" type="button" onclick="deleteMenu();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''admin.menu:edit'')')}?'locked'"
                                    data-duice-bind="menu"
                                    data-duice-execute="(menu.menuId && !menu._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button class="button" type="button" onclick="saveMenu();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''admin.menu:edit'')')}?'locked'"
                                    data-duice-bind="menu"
                                    data-duice-execute="(menu.menuId || menu._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="text-align--right font-size--xx-small font-style--italic">
                        Last Updated At
                        <span data-duice-bind="menu" data-duice-property="systemUpdatedAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                        By
                        <span data-duice-bind="menu" data-duice-property="systemUpdatedBy"></span>
                    </div>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: menu-detail                   -->
            <!-- ================================== -->
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: menu-content                  -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: select-menu-dialog          -->
    <!-- ================================== -->
    <dialog id="select-menu-dialog">
        <style>
            #select-menu-dialog {
                min-width: 300px;
            }
        </style>
        <script th:inline="javascript">
            const selectMenuDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('select-menu-dialog'));
                let disabledMenuIds = [];
                const menus = new duice.ArrayProxy([]);

                /**
                 * open
                 * @param disableMenuIds
                 */
                async function open(disableMenuIds) {
                    disabledMenuIds.length = 0;
                    if(disableMenuIds) {
                        disabledMenuIds.push(...disableMenuIds);
                    }
                    await getMenus();
                    return dialog.open();
                }

                /**
                 * getMenus
                 */
                function getMenus() {
                    let url = new URL(`${location.pathname}/get-menus`, location.origin);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ArrayProxy.clear(menus);
                            duice.ArrayProxy.assign(menus, data);
                            // check disabled menu
                            menus.forEach(menu => {
                                if(disabledMenuIds.includes(menu.id)){
                                    menu['_selected'] = true;
                                }
                            });
                        });
                }

                /**
                 * select menu
                 * @param id selected menu id
                 */
                function selectMenu(menuId) {
                    let selectedMenu = menus.filter(menu => {
                        if(menu.menuId === menuId) {
                            return menu;
                        }
                    })[0];
                    dialog.close(selectedMenu);
                }

                // returns
                return {
                    open,
                    disabledMenuIds,
                    menus,
                    selectMenu
                };
            })();
        </script>
        <div class="display--flex flex-direction--column padding--1em">
            <div>
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-menu.svg}"/>
                    <span data-th-text="#{core.menu.Menu}"></span>
                </h2>
            </div>
            <div class="display--flex flex-direction--column gap--1em padding--1em">
                <div class="overflow-x--scroll">
                    <div data-duice-bind="selectMenuDialog.menus" data-duice-foreach="menu,status" data-duice-recursive="menuId,parentMenuId"
                         data-duice-execute="
                    this.dataset.id = menu.id;
                    if(menu.parentMenuId) {
                        this.style.marginLeft='1rem';
                    }
                    ">
                        <div>
                            <a href="#" data-duice-bind="menu" data-duice-execute="
                        this.dataset.menuId = menu.menuId;
                        if(selectMenuDialog.disabledMenuIds.includes(menu.menuId)) {
                            this.style.opacity = '0.5';
                            this.style.pointerEvents = 'none';
                        }
                        " onclick="selectMenuDialog.selectMenu(this.dataset.menuId);">
                                <img data-duice-bind="menu" data-duice-property="icon" class="icon" th:src="@{/static/image/icon-null.svg}" alt="menu"/>
                                <span data-duice-bind="menu" data-duice-property="name"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <!-- ================================== -->
    <!-- end: menu-select-dialog            -->
    <!-- ================================== -->

    <th:block th:include="admin/_common.html :: _select-role-dialog"/>

</main>