<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // charts
        Chart.defaults.font.size = 8;
        Chart.defaults.animation = false;
        let cpuChart = null;
        let memoryChart = null;
        let diskChart = null;
        let serverChart = null;
        let datasourceChart = null;
        const requests = new duice.ArrayProxy([]);

        /**
         * Gets info
         */
        function getInfo() {
            let url = new URL(`${window.location.pathname}/get-info`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    let infoText = convertJsonToText(data);
                    console.log(infoText);
                    document.getElementById('infoText').value = infoText;
                });
        }

        /**
         * Converts json to text
         * @param json json string
         * @param indent indent
         * @returns {string} plain text
         */
        function convertJsonToText(json, indent = 0) {
            const indentation = ' '.repeat(indent * 2);
            let plainText = '';
            if(!json) {
                return plainText;
            }
            for (let [key, value] of Object.entries(json)) {
                if (typeof value === 'object' && !Array.isArray(value)) {
                    plainText += `${indentation}${key}:\n${convertJsonToText(value, indent + 1)}\n`;
                } else if (Array.isArray(value)) {
                    plainText += `${indentation}${key}:\n`;
                    value.forEach((item) => {
                        plainText += `${indentation}  - ${convertJsoToText(item, indent + 2)}\n`;
                    });
                } else {
                    plainText += `${indentation}${key}: ${value}\n`;
                }
            }
            return plainText;
        }

        /**
         * Gets cpu
         */
        function getCpu() {
            let url = new URL(`${window.location.pathname}/get-cpu`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeCpuChart(data);
                });
        }

        /**
         * Initializes cpu chart
         * @param cpu cpu data
         */
        function initializeCpuChart(cpu) {
            let labels = [];
            let usage = [];
            cpu.forEach(element => {
                labels.push(new Date(element.time));
                usage.push(element.usage)
            });
            cpuChart = new Chart(document.getElementById("cpuChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Usage',
                        data: usage,
                        fill: true,
                        borderColor: 'rgba(75,192,192,1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1,
                        pointStyle: 'crossRot'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 8
                                },
                                callback: function(value, index, values) {
                                    return value + '%';
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * Gets memory metrics
         */
        function getMemory() {
            let url = new URL(`${window.location.pathname}/get-memory`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeMemoryChart(data);
                });
        }

        /**
         * Initializes memory chart
         * @param memory memory metrics
         */
        function initializeMemoryChart(memory) {
            let labels = [];
            let used = [];
            let max = [];
            memory.forEach(element => {
                labels.push(new Date(element.time));
                used.push(element.used);
                max.push(element.max);
            });

            // creates chart
            memoryChart = new Chart(document.getElementById("memoryChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Used',
                            data: used,
                            fill: true,
                            borderColor: 'rgba(75, 192, 192, 0.5)',
                            backgroundColor: 'rgba(75, 192, 192,0.2)',
                            borderWidth: 1,
                            pointStyle: 'crossRot'
                        },
                        {
                            label: 'Max',
                            data: max,
                            borderWidth: 1,
                            pointStyle: 'dash'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 8
                                },
                                callback: function(value, index, values) {
                                    return value + 'M';
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * Gets disk metrics
         */
        function getDisk() {
            let url = new URL(`${window.location.pathname}/get-disk`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeDiskChart(data);
                });
        }

        /**
         * Initializes disk chart
         * @param disk disk metrics
         */
        function initializeDiskChart(disk) {
            let labels = [];
            let used = [];
            let total = [];
            disk.forEach(element => {
                labels.push(new Date(element.time));
                used.push(element.used);
                total.push(element.total);
            });

            // creates chart
            diskChart = new Chart(document.getElementById("diskChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Used',
                            data: used,
                            fill: true,
                            borderColor: 'rgba(75, 192, 192, 0.5)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderWidth: 1,
                            pointStyle: 'crossRot'
                        },
                        {
                            label: 'Total',
                            data: total,
                            borderWidth: 1,
                            pointStyle: 'dash'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            min: 0,
                            ticks: {
                                font: {
                                    size: 8
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * Gets server metrics
         */
        function getServer() {
            let url = new URL(`${window.location.pathname}/get-server`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeServerChart(data);
                });
        }

        /**
         * Initializes server chart
         * @param cpu cpu data
         */
        function initializeServerChart(cpu) {
            let labels = [];
            let max = [];
            let current = [];
            cpu.forEach(element => {
                labels.push(new Date(element.time));
                max.push(element.max);
                current.push(element.current);
            });
            serverChart = new Chart(document.getElementById("serverChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Max',
                        data: max,
                        borderWidth: 1,
                        pointStyle: 'dash'
                    },{
                        label: 'Current',
                        data: current,
                        fill: true,
                        borderColor: 'rgba(75, 192, 192, 0.5)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1,
                        pointStyle: 'crossRot'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 8
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * Gets datasource metrics
         */
        function getDatasource() {
            let url = new URL(`${window.location.pathname}/get-datasource`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeDatasourceChart(data);
                });
        }

        /**
         * Initializes datasource chart
         * @param cpu cpu data
         */
        function initializeDatasourceChart(cpu) {
            let labels = [];
            let max = [];
            let active = [];
            cpu.forEach(element => {
                labels.push(new Date(element.time));
                max.push(element.max);
                active.push(element.active);
            });
            datasourceChart = new Chart(document.getElementById("datasourceChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Max',
                        data: max,
                        borderWidth: 1,
                        pointStyle: 'dash'
                    },{
                        label: 'Active',
                        data: active,
                        fill: true,
                        borderColor: 'rgba(75, 192, 192, 0.5)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1,
                        pointStyle: 'crossRot'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 8
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * Gets requests
         */
        function getRequests() {
            let url = new URL(`${window.location.pathname}/get-requests`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.assign(requests, data);
                });
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getInfo();
            getCpu();
            getMemory();
            getDisk();
            getServer();
            getDatasource();
            getRequests();
        });

    </script>
    <style th:inline="css">
        #infoText {
            min-height: 15rem;
            padding-top: 0.5rem;
            line-height: 1.0rem;
            background-color: #222;
            color: #efefef;
        }
    </style>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}" alt="monitor"/>
        <span data-th-text="#{web.admin.monitor}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: monitorContent              -->
    <!-- ================================== -->
    <div id="monitorContent" class="display--grid grid-template-columns--3fr s__grid-template-columns--1fr gap--1rem">
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: info                        -->
            <!-- ================================== -->
            <div id="info" class="panel height--100">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-info.svg}" alt="info"/>
                        <span data-th-text="#{web.admin.monitor.info}"></span>
                    </h2>
                </div>
                <div class="panel-content height--100">
                    <label class="height--100">
                        <textarea id="infoText" readonly="readonly" class="width--100 height--100 code font-size--smaller"></textarea>
                    </label>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: info                          -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: cpu                         -->
            <!-- ================================== -->
            <div id="cpu" class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-cpu.svg}" alt="cpu"/>
                        <span data-th-text="#{web.admin.monitor.cpu}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <canvas id="cpuChart"></canvas>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: cpu                           -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: memory                      -->
            <!-- ================================== -->
            <div id="memory" class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-memory.svg}" alt="memory"/>
                        <span data-th-text="#{web.admin.monitor.memory}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <canvas id="memoryChart"></canvas>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: memory                        -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: disk                        -->
            <!-- ================================== -->
            <div class="panel">
                <div id="disk" class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-disk.svg}" alt="disk"/>
                        <span data-th-text="#{web.admin.monitor.disk}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <canvas id="diskChart"></canvas>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: disk                          -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: server                      -->
            <!-- ================================== -->
            <div class="panel">
                <div id="server" class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-server.svg}" alt="server"/>
                        <span data-th-text="#{web.admin.monitor.server}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <canvas id="serverChart"></canvas>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: server                        -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-1">
            <!-- ================================== -->
            <!-- start: datasource                  -->
            <!-- ================================== -->
            <div class="panel">
                <div id="server" class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-datasource.svg}" alt="server"/>
                        <span data-th-text="#{web.admin.monitor.datasource}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <canvas id="datasourceChart"></canvas>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: datasource                    -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-3">
            <!-- ================================== -->
            <!-- start: requests                    -->
            <!-- ================================== -->
            <div class="panel">
                <div id="server" class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-request.svg}" alt="request"/>
                        <span data-th-text="#{web.admin.monitor.request}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <div class="width--100 overflow--scroll box" style="max-height:40rem;">
                        <table class="table width--100 border--none font-size--smaller">
                            <thead>
                            <tr>
                                <th>URL</th>
                                <th>Method</th>
                                <th>Total Count</th>
                                <th>Success Count (2xx)</th>
                                <th>Client Error Count (4xx)</th>
                                <th>Server Error Count (5xx)</th>
                                <th>Average Time (s)</th>
                                <th>Max Time (s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="requests" data-duice-foreach="request">
                                <td>
                                    <span data-duice-bind="request" data-duice-property="uri" class="code font-weight--bold"></span>
                                </td>
                                <td class="text-align--center">
                                    <span data-duice-bind="request" data-duice-property="method" class="code badge"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="totalCount" data-duice-format="number(0)" class="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="successCount" data-duice-format="number(0)" class="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="clientErrorCount" data-duice-format="number(0)" class="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="serverErrorCount" data-duice-format="number(0)" class="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="averageTime" data-duice-format="number(0)" class="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="request" data-duice-property="maxTime" data-duice-format="number(0)" class="number"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: requests                      -->
            <!-- ================================== -->
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: monitorContent                -->
    <!-- ================================== -->

</main>
