<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // notification
        const notificationSearch = new duice.ObjectProxy({
            notifierId: null,
            status: null,
            _size: 20,
            _page: 0,
            _total: 0,
            _status: null
        });
        const notifications = new duice.ArrayProxy([]);
        duice.ArrayProxy.setReadonlyAll(notifications);

        // notifier
        const notifierSearch = new duice.ObjectProxy({
            key: 'notifierId',
            value: null,
            _size: 20,
            _page: 0,
            _total: 0,
            _status: null
        });
        const notifiers = new duice.ArrayProxy([]);
        duice.ArrayProxy.setReadonlyAll(notifiers, true);
        const notifier = new duice.ObjectProxy({
            notifierId: null,
            name: null,
            clientType: null,
            clientProperties: null
        });
        duice.ObjectProxy.setDisabledAll(notifier, true);
        duice.ObjectProxy.onPropertyChanging(notifier, async event => {
            if (event.getProperty() === 'notifierId') {
                if (!await validateNotifierId(event.getValue())) {
                    duice.ObjectProxy.focus(notifier, 'notifierId');
                    return false;
                }
            }
            if (event.getProperty() === 'clientType') {
                if (!notifier._new) {
                    if (!await _confirm(/*[[#{web.global.changeItemConfirm(#{core.notification.Notifier.clientType})}]]*/'')) {
                        return false;
                    }
                }
            }
            return true;
        });
        duice.ObjectProxy.onPropertyChanged(notifier, async event => {
            if(event.getProperty() === 'clientType') {
                let clientType = event.getValue();
                notifier.clientProperties = notifierClientDefinitions
                    .find(it => it['clientType'] === clientType)
                    ?.propertiesTemplate;
            }
        });
        const notifierClientDefinitions = new duice.ArrayProxy(/*[[${notifierClientDefinitions}]]*/[]);

        /**
         * Gets notifications
         * @param page page
         */
        function getNotifications(page) {
            if (Number.isFinite(parseInt(page))){
                notificationSearch._page = page;
            }
            let url = new URL(`${location.pathname}/get-notifications`, location.origin);
            if (notificationSearch.notifierId) {
                url.searchParams.set('notifierId', notificationSearch.notifierId);
            }
            if (notificationSearch.status) {
                url.searchParams.set('status', notificationSearch.status);
            }
            url.searchParams.set('_size', notificationSearch._size);
            url.searchParams.set('_page', notificationSearch._page);
            notifications.length = 0;
            notificationSearch._status = 'loading';
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    notificationSearch._status = data.content.length < 1 ? 'empty' : null;
                    duice.ArrayProxy.assign(notifications, data.content);
                    notificationSearch._total = data['totalElements'];
                });
        }

        /**
         * Resets notification
         */
        function resetNotification() {
            duice.ObjectProxy.reset(notificationSearch);
            getNotifications();
        }

        /**
         * Gets notifiers
         * @param page page number
         */
        function getNotifiers(page) {
            if(page) {
                notifierSearch._page = parseInt(page);
            }
            let url = new URL(`${location.pathname}/get-notifiers`, location.origin);
            if (notifierSearch.key && notifierSearch.value) {
                url.searchParams.set(notifierSearch.key, notifierSearch.value);
            }
            url.searchParams.set('_size', notifierSearch._size);
            url.searchParams.set('_page', notifierSearch._page);
            notifiers.length = 0;
            notifierSearch._status = 'loading';
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    notifierSearch._status = data.content.length < 1 ? 'empty' : null;
                    duice.ArrayProxy.assign(notifiers, data.content);
                    notifierSearch._total = data['totalElements'];
                    // select current item
                    duice.ArrayProxy.selectItem(notifiers, notifiers.findIndex(it => it.notifierId === notifier.notifierId));
                });
        }

        /**
         * Resets notifiers
         */
        function resetNotifiers() {
            duice.ObjectProxy.reset(notifierSearch);
            getNotifiers();
        }

        /**
         * Gets notifier
         * @param notifierId notifier id
         */
        function getNotifier(notifierId) {
            let url = new URL(`${location.pathname}/get-notifier`, location.origin);
            url.searchParams.append('notifierId', notifierId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(notifier, data);
                    duice.ObjectProxy.setDisabledAll(notifier, false);
                    duice.ObjectProxy.setReadonly(notifier, 'notificationId', true);
                    notifier._new = false;

                    // mobile browser
                    if (_isMobileBrowser()) {
                        document.getElementById('notifier-detail')?.scrollIntoView({ behavior: 'smooth' });
                        if (location.hash !== '#notifier-detail') {
                            history.pushState(null, null, '#notifier-detail');
                        }
                    }
                });
        }

        /**
         * Creates notifier
         */
        function createNotifier() {
            duice.ObjectProxy.clear(notifier);
            duice.ObjectProxy.assign(notifier, {
                _new: true
            });
            duice.ObjectProxy.setDisabledAll(notifier, false);
            duice.ObjectProxy.setReadonly(notifier, 'notificationId', false);
            duice.ObjectProxy.focus(notifier, 'notificationId');
        }

        /**
         * Validates notifier id
         * @param notifierId notification id
         * @returns {Promise<boolean>}
         */
        async function validateNotifierId(notifierId) {
            // check blank
            if (!notifierId) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.notification.Notifier.notifierId})}]]*/'');
                duice.ObjectProxy.focus(notifier, 'notifierId');
                return false;
            }
            // check duplicated id
            let url = new URL(`${location.pathname}/get-notifier`, location.origin);
            url.searchParams.set('notifierId', notifierId);
            let response = await _fetch(url, {_suppressAlert:true});
            if (response.ok) {
                let notification = await response.json();
                if (notification) {
                    await _alert(/*[[#{web.global.itemAlreadyExist(#{core.notification.Notifier.notifierId})}]]*/'');
                    return false;
                }
            }
            // return true
            return true;
        }

        /**
         * Saves notifier
         * @returns {Promise<boolean>}
         */
        async function saveNotifier() {
            // if new, checks id
            if (notifier._new) {
                if (!await validateNotifierId(notifier.notifierId)) {
                    return false;
                }
            }
            // checks name
            if (_isEmpty(notifier.name)) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.notification.Notifier.name})}]]*/'');
                duice.ObjectProxy.focus(notifier, 'name');
                return false;
            }
            // check client type
            if (_isEmpty(notifier.clientType)) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.notification.Notifier.clientType})}]]*/'');
                duice.ObjectProxy.focus(notifier, 'clientType');
                return false;
            }
            // call save
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.notification.Notifier})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(`${location.pathname}/save-notifier`, location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(notifier)
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.saveItemComplete(#{core.notification.Notifier})}]]*/'').then(() => {
                                getNotifiers();
                                getNotifier(notifier.notifierId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * Deletes notifier
         */
        function deleteNotifier() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.notification.Notifier})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(`${location.pathname}/delete-notifier`, location.origin);
                    url.searchParams.append('notifierId', notifier.notifierId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.notification.Notifier})}]]*/'').then(() => {
                                getNotifiers();
                                duice.ObjectProxy.clear(notifier);
                            });
                        }
                    })
                }
            });
        }

        /**
         * Tests notifier
         */
        function testNotifier() {
            let copyOfNotifier = JSON.parse(JSON.stringify(notifier));
            testNotifierDialog.open(copyOfNotifier);
        }

        /**
         * Sends notification message
         */
        function sendNotification() {
            sendNotificationDialog.open().then(result => {
                if (result) {
                    getNotifications();
                }
            });
        }

        // Initializes
        _initialize(() => {
            const tabFolder = new duice.TabFolder();
            const notificationTabItem = new duice.TabItem(
                document.getElementById('notification-tab-button'),
                document.getElementById('notification-tab-content'),
                () => {
                    getNotifications();
                });
            const notifierTabItem = new duice.TabItem(
                document.getElementById('notifier-tab-button'),
                document.getElementById('notifier-tab-content'),
                () => {
                    getNotifiers();
                });
            tabFolder.addItem(notificationTabItem);
            tabFolder.addItem(notifierTabItem);
            tabFolder.setActive(0);
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-notification.svg}" alt="notification"/>
        <span data-th-text="#{web.admin.notification}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div class="tab">
        <span id="notification-tab-button" class="tab-item">
            <img class="icon" src="/static/image/icon-history.svg" alt=""/>
            <span data-th-text="#{core.notification.Notification}"></span>
        </span>
        <span id="notifier-tab-button" class="tab-item">
            <img class="icon" src="/static/image/icon-notifier.svg" alt=""/>
            <span data-th-text="#{core.notification.Notifier}"></span>
        </span>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: notification-tab-content        -->
    <!-- ====================================== -->
    <div id="notification-tab-content">
        <div class="panel">
            <div class="panel-title">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                    <span data-th-text="#{core.notification.Notification}"></span>
                </h2>
            </div>
            <div class="panel-content">
                <form onsubmit="return false;" class="display--flex flex-wrap--wrap justify-content--space-between gap--1px">
                    <div class="display--flex gap--1px s__width--100">
                        <div class="display--flex flex-wrap--nowrap gap--1px s__width--100">
                            <label class="flex--1">
                                <select data-duice-bind="notificationSearch" data-duice-property="notifierId" class="s__width--100">
                                    <option value="" data-th-text="|#{core.notification.Notifier}...|"></option>
                                    <option data-th-each="notifier : ${notifiers}"
                                            th:value="${notifier.notifierId}"
                                            th:text="${notifier.name}"></option>
                                </select>
                            </label>
                            <label class="flex--2">
                                <select data-duice-bind="notificationSearch"
                                        data-duice-property="status" class="s__width--100">
                                    <option value="" data-th-text="|#{core.notification.Notification.status}...|"></option>
                                    <option th:each="status : ${notificationStatuses}"
                                            th:value="${status}"
                                            th:text="${status}"></option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="display--flex justify-content--end gap--1px s__width--100 s__justify-content--start">
                        <button type="submit" class="button" onclick="getNotifications();">
                            <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                            <span data-th-text="#{web.global.search}"></span>
                        </button>
                        <button type="button" class="button" onclick="resetNotification();">
                            <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                            <span data-th-text="#{web.global.reset}"></span>
                        </button>
                    </div>
                </form>
                <div class="overflow--scroll box">
                    <table class="table width--100 border--none">
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col style="width:15rem;"/>
                            <col/>
                            <col style="width:15rem;"/>
                            <col style="width:8rem;"/>
                            <col style="width:12rem;"/>
                            <col style="width:12rem;"/>
                            <col style="width:10rem;"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}"></th>
                            <th data-th-text="#{core.notification.Notification.notifierName}"></th>
                            <th data-th-text="#{core.notification.Notification.subject}"></th>
                            <th data-th-text="#{core.notification.Notification.receiver}"></th>
                            <th data-th-text="#{core.notification.Notification.suppressed}"></th>
                            <th data-th-text="#{core.notification.Notification.submittedAt}"></th>
                            <th data-th-text="#{core.notification.Notification.sentAt}"></th>
                            <th data-th-text="#{core.notification.Notification.status}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="notifications" data-duice-foreach="notification,status">
                            <td class="text-align--center">
                                <span data-duice-bind="status" data-duice-execute="this.innerHTML = notificationSearch._total - (notificationSearch._page * notificationSearch._size) - status.index;" class="number"></span>
                            </td>
                            <td>
                                <span data-duice-bind="notification" data-duice-property="notifierName"></span>
                            </td>
                            <td>
                                <span data-duice-bind="notification" data-duice-property="subject"></span>
                            </td>
                            <td>
                                <span data-duice-bind="notification" data-duice-property="receiver" class="code"></span>
                            </td>
                            <td>
                                <div class="text-align--center">
                                    <label>
                                        <input type="checkbox" data-duice-bind="notification" data-duice-property="suppressed"></input>
                                    </label>
                                </div>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="notification" data-duice-property="submittedAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="notification" data-duice-property="sentAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                            </td>
                            <td class="text-align--center">
                                <span data-duice-bind="notification" data-duice-property="status"
                                      data-duice-execute="
                                        this.classList.toggle('background-color--green', notification.status === 'COMPLETED');
                                        this.classList.toggle('background-color--red', notification.status === 'FAILED');
                                        "
                                      class="badge code"></span>
                            </td>
                        </tr>
                        <tr data-duice-bind="notificationSearch" data-duice-if="return notificationSearch._status === 'loading';">
                            <td colspan="100%" class="text-align--center">
                                <span class="loading"></span>
                            </td>
                        </tr>
                        <tr data-duice-bind="notificationSearch" data-duice-if="return notificationSearch._status === 'empty';">
                            <td colspan="100%" class="text-align--center">
                                <span data-th-text="#{web.global.itemNotFound(#{core.notification.Notification})}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="display--flex justify-content--space-between">
                    <div>
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="notificationSearch" data-duice-property="_total" data-duice-format="number(0)" class="number"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div>
                        <duice-pagination
                                data-duice-bind="notificationSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-total-property="_total"
                                data-duice-onclick="getNotifications(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div>
                        <button class="button" type="button"
                                th:classappend="!${#authorization.expression('hasAuthority(''admin.notification:edit'')')}?'locked'"
                                onclick="sendNotification();">
                            <img class="icon" th:src="@{/static/image/icon-send.svg}" alt="send"/>
                            <span data-th-text="#{web.global.send}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: notification-tab-content          -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: notifier-tab-content            -->
    <!-- ====================================== -->
    <div id="notifier-tab-content" class="display--grid grid-template-columns--12fr gap--1em" hidden>
        <div class="grid-column--span-6 s__grid-column--span-12">
            <!-- ====================================== -->
            <!-- start: notifier-list                   -->
            <!-- ====================================== -->
            <div id="notification-list" class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                        <span data-th-text="#{core.notification.Notifier}+' '+#{web.global.list}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <form onsubmit="return false;" class="display--flex justify-content--space-between flex-wrap--wrap gap--1px">
                        <div class="display--flex gap--1px s__width--100">
                            <div class="display--flex flex-wrap--nowrap gap--1px s__width--100">
                                <label class="flex--1">
                                    <select data-duice-bind="notifierSearch" data-duice-property="key" class="s__width--100">
                                        <option value="notifierId" th:text="#{core.notification.Notifier.notifierId}"></option>
                                        <option value="name" th:text="#{core.notification.Notifier.name}"></option>
                                    </select>
                                </label>
                                <label class="flex--2">
                                    <input type="text" data-duice-bind="notifierSearch" data-duice-property="value" th:placeholder="#{web.global.keyword}" class="s__width--100"/>
                                </label>
                            </div>
                        </div>
                        <div class="display--flex justify-content--end gap--1px s__width--100 s__justify-content--start">
                            <button class="button" type="submit" onclick="getNotifiers();">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                                <span data-th-text="#{web.global.search}">Search</span>
                            </button>
                            <button class="button" type="button" onclick="resetNotifiers();">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                                <span data-th-text="#{web.global.reset}">Reset</span>
                            </button>
                        </div>
                    </form>
                    <div class="overflow--scroll box">
                        <table class="table width--100 border--none">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                                <th data-th-text="#{core.notification.Notifier.notifierId}"></th>
                                <th data-th-text="#{core.notification.Notifier.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="notifiers"
                                data-duice-foreach="notifier,status"
                                data-duice-selected-item-class="selected"
                                data-duice-execute="this.dataset.notifierId=notifier.notifierId;"
                                onclick="getNotifier(this.dataset.notifierId);"
                                class="cursor--pointer">
                                <td class="text-align--center">
                                    <span data-duice-bind="status" data-duice-execute="this.innerHTML = (notifierSearch._page * notifierSearch._size) + status.count;" class="number"></span>
                                </td>
                                <td>
                                <span data-duice-bind="notifier"
                                      data-duice-property="notifierId"
                                      data-duice-execute="this.classList.toggle('tag-system-required', notifier.systemRequired);"
                                      class="code"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="notifier" data-duice-property="name"></span>
                                </td>
                            </tr>
                            <tr data-duice-bind="notifierSearch" data-duice-if="return notifierSearch._status === 'loading';">
                                <td colspan="100%" class="text-align--center">
                                    <span class="loading"></span>
                                </td>
                            </tr>
                            <tr data-duice-bind="notifierSearch" data-duice-if="return notifierSearch._status === 'empty';" hidden>
                                <td colspan="100%" class="text-align--center">
                                    <span data-th-text="#{web.global.itemNotFound(#{core.notification.Notifier})}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="display--flex justify-content--space-between">
                        <div>
                            <span data-th-text="#{web.global.total}"></span>
                            <span data-duice-bind="notifierSearch" data-duice-property="_total" data-duice-format="number(0)" class="number"></span>
                            <span data-th-text="#{web.global.rows}"></span>
                        </div>
                        <duice-pagination
                                data-duice-bind="notifierSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-total-property="_total"
                                data-duice-onclick="getNotifiers(this.dataset.page);">
                        </duice-pagination>
                        <div class="display--flex justify-content--end gap--1px">
                            <button class="button" type="button" onclick="createNotifier();">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ====================================== -->
            <!-- end: notifier-list                     -->
            <!-- ====================================== -->
        </div>
        <div class="grid-column--span-6 s__grid-column--span-12">
            <!-- ====================================== -->
            <!-- start: notifier-detail                 -->
            <!-- ====================================== -->
            <div id="notifier-detail" class="panel">
                <div id="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                        <span data-th-text="#{core.notification.Notifier}+' '+#{web.global.detail}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1em">
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.notification.Notifier.notifierId}" class="font-weight--bold tag-important"></span>
                                <input type="text" data-duice-bind="notifier" data-duice-property="notifierId" class="width--100 code"/>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.notification.Notifier.name}" class="font-weight--bold"></span><i class="tag-important"></i>
                                <input type="text" data-duice-bind="notifier" data-duice-property="name" class="width--100"/>
                            </label>
                        </div>
                        <div class="grid-column--span-6 s__grid-column--span-12">
                            <label>
                                <span data-th-text="#{core.notification.Notifier.clientType}" class="font-weight--bold"></span>
                                <select data-duice-bind="notifier" data-duice-property="clientType"
                                        data-duice-option="notifierClientDefinitions"
                                        data-duice-option-value-property="clientType"
                                        data-duice-option-text-property="name"
                                        class="width--100">
                                    <option data-th-text="'- ' + #{web.global.select} + ' -'"></option>
                                </select>
                            </label>
                        </div>
                        <div class="grid-column--span-12">
                            <div class="display--flex justify-content--space-between">
                                <div>
                                    <span data-th-text="#{core.notification.Notifier.clientProperties}" class="font-weight--bold"></span>
                                </div>
                                <div>
                                    <button class="button small" type="button" onclick="testNotifier();"
                                            th:classappend="!${#authorization.expression('hasAuthority(''admin.notification:edit'')')}?'locked'"
                                            data-duice-bind="notifier"
                                            data-duice-execute="notifier.clientType ? this.disabled=false : this.disabled=true;">
                                        <img class="icon" th:src="@{/static/image/icon-test.svg}" alt="test"/>
                                        <span data-th-text="#{web.global.test}"></span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <label>
                                    <duice-codemirror
                                            class="code box"
                                            data-duice-bind="notifier"
                                            data-duice-property="clientProperties"
                                            data-duice-theme="dracula">
                                    </duice-codemirror>
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="display--flex justify-content--space-between">
                        <div class="display--flex gap--1px">
                        </div>
                        <div class="display--flex justify-content--end gap--1px">
                            <button class="button" type="button" onclick="deleteNotifier();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''admin.notification:edit'')')}?'locked'"
                                    data-duice-bind="notifier"
                                    data-duice-execute="(notifier.notifierId && !notifier._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button class="button" type="button" onclick="saveNotifier();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''admin.notification:edit'')')}?'locked'"
                                    data-duice-bind="notifier"
                                    data-duice-execute="(notifier.notifierId || notifier._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="text-align--right font-size--xx-small font-style--italic">
                        Last Updated At
                        <span data-duice-bind="notifier" data-duice-property="systemUpdatedAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                        By
                        <span data-duice-bind="notifier" data-duice-property="systemUpdatedBy"></span>
                    </div>
                </div>
            </div>
            <!-- ====================================== -->
            <!-- end: notifier-detail                   -->
            <!-- ====================================== -->
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: notification-tab-content          -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: test-notifier-dialog            -->
    <!-- ====================================== -->
    <dialog id="test-notifier-dialog" class="dialog">
        <style th:inline="css">
            #test-notifier-dialog {
                width: 400px;
            }
        </style>
        <script th:inline="javascript">
            const testNotifierDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('test-notifier-dialog'));
                const data = new duice.ObjectProxy({
                    notifier: null,
                    subject: null,
                    content: null,
                    receiver: null
                });

                /**
                 * Opens
                 * @param notifier
                 * @returns {Promise<*>}
                 */
                async function open(notifier) {
                    duice.ObjectProxy.clear(data);
                    data.notifier = notifier;
                    return dialog.open();
                }

                /**
                 * Confirms
                 * @returns {Promise<void>}
                 */
                async function confirm() {
                    if (!await _confirm(/*[[#{web.global.sendItemConfirm(#{core.notification.Notification})}]]*/'')) {
                        return;
                    }
                    let url = new URL(`${location.pathname}/test-notifier`, location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data)
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.sendItemComplete(#{core.notification.Notification})}]]*/'').then(()=>{
                                dialog.close();
                            });
                        }
                    });
                }

                // returns
                return {
                    open,
                    data,
                    confirm
                };
            })();
        </script>
        <div class="dialog-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-test.svg}" alt="test"/>
                <span data-th-text="#{web.global.test}"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <form class="display--grid grid-template-columns--12fr gap--1em">
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.subject}"></span>
                        <input type="text" data-duice-bind="testNotifierDialog.data" data-duice-property="subject" class="width--100"/>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.content}"></span>
                        <textarea data-duice-bind="testNotifierDialog.data" data-duice-property="content" class="width--100"></textarea>
                    </label>

                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.receiver}"></span>
                        <input type="text" data-duice-bind="testNotifierDialog.data" data-duice-property="receiver" class="width--100"/>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <div class="display--flex justify-content--end">
                        <button class="button" type="button" onclick="testNotifierDialog.confirm();">
                            <img class="icon" th:src="@{/static/image/icon-send.svg}" alt="send"/>
                            <span data-th-text="#{web.global.send}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: test-notifier-dialog              -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: send-notification-dialog        -->
    <!-- ====================================== -->
    <dialog id="send-notification-dialog" class="dialog">
        <style th:inline="css">
            #send-notification-dialog {
                width: 400px;
            }
        </style>
        <script th:inline="javascript">
            const sendNotificationDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('send-notification-dialog'));
                const data = new duice.ObjectProxy({
                    notifierId: null,
                    subject: null,
                    content: null,
                    receiver: null,
                    suppressed: false
                });
                const notifiers = new duice.ArrayProxy([]);

                /**
                 * Opens
                 * @returns {Promise<*>}
                 */
                async function open() {
                    duice.ObjectProxy.clear(data);
                    await getNotifiers();
                    return dialog.open();
                }

                function getNotifiers() {
                    let url = new URL(`${location.pathname}/get-notifiers`, location.origin);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ArrayProxy.assign(notifiers, data.content);
                        });
                }

                /**
                 * Confirms
                 * @returns {Promise<void>}
                 */
                async function confirm() {
                    if (!data.notifierId) {
                        await _alert(/*[[#{web.global.enterItem(#{core.notification.Notifier})}]]*/'');
                        duice.ObjectProxy.focus(data, 'notifierId');
                        return;
                    }
                    if (!await _confirm(/*[[#{web.global.sendItemConfirm(#{core.notification.Notification})}]]*/'')) {
                        return;
                    }
                    let url = new URL(`${location.pathname}/send-notification`, location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data)
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.sendItemComplete(#{core.notification.Notification})}]]*/'').then(()=>{
                                dialog.close(true);
                            });
                        }
                    });
                }

                // returns
                return {
                    open,
                    notifiers,
                    data,
                    confirm
                };
            })();
        </script>
        <div class="dialog-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-send.svg}" alt="send"/>
                <span data-th-text="#{web.global.send}"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <form class="display--grid grid-template-columns--12fr gap--1em">
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notifier}" class="font-weight--bold tag-important"></span>
                        <select data-duice-bind="sendNotificationDialog.data"
                                data-duice-property="notifierId"
                                data-duice-option="sendNotificationDialog.notifiers"
                                data-duice-option-value-property="notifierId"
                                data-duice-option-text-property="name"
                                class="width--100">
                            <option value="" data-th-text="|#{web.global.select}...|"></option>
                        </select>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.subject}"></span>
                        <input type="text" data-duice-bind="sendNotificationDialog.data" data-duice-property="subject" class="width--100"/>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.content}"></span>
                        <textarea data-duice-bind="sendNotificationDialog.data" data-duice-property="content" class="width--100"></textarea>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.receiver}"></span>
                        <input type="text" data-duice-bind="sendNotificationDialog.data" data-duice-property="receiver" class="width--100"/>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.notification.Notification.suppressed}"></span>
                        <input type="checkbox" data-duice-bind="sendNotificationDialog.data" data-duice-property="suppressed"/>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <div class="display--flex justify-content--end">
                        <button class="button" type="button" onclick="sendNotificationDialog.confirm();">
                            <img class="icon" th:src="@{/static/image/icon-send.svg}" alt="send"/>
                            <span data-th-text="#{web.global.send}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: send-notification-dialog          -->
    <!-- ====================================== -->

</main>
