<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // storages
        const storageSearch = new duice.ObjectProxy({
            key: 'storageId',
            value: null,
            _page: 0,
            _size: 20,
            _total: 0
        });
        const storages = new duice.ArrayProxy([]);
        duice.ArrayProxy.setReadonlyAll(storages, true);
        const storageResourceInfo = new duice.ObjectProxy({
            resourceId: null,
            parentStorageResource: null,
            childStorageResources: []
        });
        const storageClientDefinitions = new duice.ArrayProxy(/*[[${storageClientDefinitions}]]*/[]);
        const storageObjectSearch = new duice.ObjectProxy({
            refType: null,
            refId: null,
            filename: null,
            _page: 0,
            _size: 20,
            _total: 0
        });
        const storageObjects = new duice.ArrayProxy([]);

        function getStorages(page) {
            if(page) {
                storageSearch._page = page;
            }
            let url = new URL(`${window.location.pathname}/get-storages`, document.location.origin);
            if (storageSearch.key && storageSearch.value) {
                url.searchParams.append(storageSearch.key, storageSearch.value);
            }
            url.searchParams.append('_page', storageSearch._page);
            url.searchParams.append('_size', storageSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(storages);
                    duice.ArrayProxy.assign(storages, data.content);
                    storageSearch._total = data['totalElements'];
                });
        }

        function resetStorages() {
            duice.ObjectProxy.reset(storageSearch);
            getStorages();
        }

        function getStorage(storageId) {
            storageDialog.open({storageId: storageId}).then(result => {
                if (result) {
                    getStorages();
                }
            });
        }

        function createStorage() {
            storageDialog.open({storageId: null}).then(result => {
                if (result) {
                    getStorages();
                }
            });
        }

        function getStorageResourceInfo(storageId, resourceId) {
            let url = new URL(`${location.pathname}/get-storage-resource-info`, location.origin);
            url.searchParams.set('storageId', storageId);
            url.searchParams.set('resourceId', resourceId || '');
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(storageResourceInfo);
                    duice.ObjectProxy.assign(storageResourceInfo, data);
                });
        }

        function refreshStorageResourceInfo() {
            getStorageResourceInfo(storageResourceInfo.storageId, storageResourceInfo.resourceId);
        }

        function createStorageFolder() {
            _prompt(/*[[#{web.global.enterItem(#{web.global.folder} + ' ' + #{web.global.name})}]]*/'').then(name => {
                if (name) {
                    let url = new URL(`${location.pathname}/create-storage-folder`, location.origin);
                    url.searchParams.set('storageId', storageResourceInfo.storageId);
                    url.searchParams.set('parentResourceId', storageResourceInfo.resourceId);
                    url.searchParams.set('name', name);
                    _fetch(url, {method: 'POST'}).then(response => {
                        console.log(response);
                        refreshStorageResourceInfo();
                    });
                }
            });
        }

        function uploadStorageFiles() {
            let input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('multiple', 'true');
            input.addEventListener('change', function () {
                const files = Array.from(this.files); // FileList → 배열
                if (files.length === 0) return;
                const formData = new FormData();
                formData.set('storageId', storageResourceInfo.storageId);
                formData.set('parentResourceId', storageResourceInfo.resourceId);
                files.forEach((file, index) => {
                    formData.append('files', file); // name=files 로 서버에 전송
                });
                let url = new URL(`${location.pathname}/upload-storage-files`, location.origin);
                _fetch(url, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                        return response.json();
                }).then(result => {
                    console.debug('Upload result:', result);
                    refreshStorageResourceInfo();
                });
            });
            input.click();
        }

        function selectAllChildResources() {
            storageResourceInfo.childStorageResources.forEach(item => {
                item._selected = !item._selected;
            });
        }

        async function deleteStorageResources() {
            let selectedStorageResources =storageResourceInfo.childStorageResources.filter(item => item._selected);
            if (selectedStorageResources.length === 0) {
                await _alert(/*[[#{web.global.itemNotSelected(#{core.storage.StorageResource})}]]*/'');
                return;
            }
            if (!await _confirm(/*[[#{web.global.deleteItemConfirm(#{core.storage.StorageResource})}]]*/'')) {
                return;
            }
            for (let i = 0; i < selectedStorageResources.length; i++) {
                let item = selectedStorageResources[i];
                let url = new URL(`${location.pathname}/delete-storage-resource`, location.origin);
                url.searchParams.set('storageId', storageResourceInfo.storageId);
                url.searchParams.set('resourceId', item.resourceId);
                await _fetch(url, {method: 'DELETE'})
                    .then(response => {
                        console.debug(response);
                    });
            }
            refreshStorageResourceInfo();
        }

        function downloadStorageResource(resourceId) {
            let url = new URL(`${location.pathname}/download-storage-resource`, location.origin);
            url.searchParams.set('storageId', storageResourceInfo.storageId);
            url.searchParams.set('resourceId', resourceId);
            const link = document.createElement('a');
            link.href = url.toString();
            link.click();
        }

        function getStorageObjects(page) {
            if(Number.isFinite(parseInt(page))) {
                storageObjectSearch._page = page;
            }
            let url = new URL(`${location.pathname}/get-storage-objects`, location.origin);
            if (storageObjectSearch.refType) {
                url.searchParams.set('refType', storageObjectSearch.refType);
            }
            if (storageObjectSearch.refId) {
                url.searchParams.set('refId', storageObjectSearch.refId);
            }
            if (storageObjectSearch.filename) {
                url.searchParams.set('filename', storageObjectSearch.filename);
            }
            url.searchParams.append('_page', storageObjectSearch._page);
            url.searchParams.append('_size', storageObjectSearch._size);
            duice.ArrayProxy.clear(storageObjects);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    storageObjectSearch._total = data['totalElements'];
                    duice.ArrayProxy.assign(storageObjects, data.content);
                });
        }

        function uploadStorageObject() {
            uploadDialog.open().then(() => {
                getStorageObjects();
            });
        }

        function downloadStorageObject(objectId) {
            let url = new URL(`${location.pathname}/download-storage-object`, location.origin);
            url.searchParams.set('objectId', objectId);
            const link = document.createElement('a');
            link.href = url.toString();
            link.click();
        }

        function checkAllStorageObjects() {
            storageObjects.forEach(item => {
                item._selected = !item._selected;
            });
        }

        async function deleteCheckedStorageObjects() {
            if (!await _confirm(/*[[#{web.global.deleteItemConfirm(#{core.storage.StorageObject})}]]*/'')) {
                return false;
            }
            let url = new URL(`${location.pathname}/delete-storage-object`, location.origin);
            let checkedStorageObjects = storageObjects.filter(item => item._selected);
            for (let i = 0; i < checkedStorageObjects.length; i++) {
                let objectId = checkedStorageObjects[i].objectId;
                url.searchParams.set('objectId', objectId);
                await _fetch(url, {method: 'DELETE'}).then();
            }
            getStorageObjects();
        }

        // Initializes
        document.addEventListener('DOMContentLoaded',()=> {
            let tabFolder = new duice.TabFolder();
            tabFolder.addItem(new duice.TabItem(
                document.getElementById('storageTabButton'),
                document.getElementById('storageTabContent'),
                () => {
                    getStorages();
                }
            ));
            tabFolder.addItem(new duice.TabItem(
                document.getElementById('storageObjectTabButton'),
                document.getElementById('storageObjectTabContent'),
                () => {
                    getStorageObjects();
                }
            ));
            tabFolder.setActive(0);
        });
    </script>
    <style th:inline="css">
        .storage-item {
            padding: 0.0rem 1rem;
            border-radius: 2px;
        }
        .storage-item:hover {
            background-color: var(--duice-table-tbody-hover-background);
        }
        .storage-item.selected {
            background-color: var(--duice-table-tbody-hover-background);
            font-weight: bold;
            text-decoration: underline;
        }
    </style>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-storage.svg}" alt="storage"/>
        <span data-th-text="#{web.admin.storage}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="tab">
        <span id="storageTabButton" class="tab-item">
            <img class="icon" th:src="@{/static/image/icon-storage.svg}" alt="storage"/>
            <span data-th-text="#{core.storage.Storage}"></span>
        </span>
        <span id="storageObjectTabButton" class="tab-item">
            <img class="icon" th:src="@{/static/image/icon-storage.svg}" alt="storageObject"/>
            <span data-th-text="#{core.storage.StorageObject}"></span>
        </span>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: storage content             -->
    <!-- ================================== -->
    <div id="storageTabContent" class="display--grid grid-template-columns--12fr gap--1rem">
        <div id="storageList" class="grid-column--span-5 s__grid-column--span-12">
            <!-- ================================== -->
            <!-- start: storage list                -->
            <!-- ================================== -->
            <div class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                        <span data-th-text="#{core.storage.Storage}+' '+#{web.global.list}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <form onsubmit="return false;" class="display--flex justify-content--space-between">
                        <div class="display--flex flex-wrap--nowrap gap--1px">
                            <label>
                                <select data-duice-bind="storageSearch" data-duice-property="key">
                                    <option value="storageId" th:text="#{core.storage.Storage.storageId}"></option>
                                    <option value="name" th:text="#{core.storage.Storage.name}"></option>
                                </select>
                            </label>
                            <label>
                                <input type="text" data-duice-bind="storageSearch" data-duice-property="value"
                                       th:placeholder="#{web.global.keyword}"/>
                            </label>
                        </div>
                        <div class="display--flex justify-content--end gap--1px">
                            <button class="button" type="submit" onclick="getStorages();">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                                <span data-th-text="#{web.global.search}">Search</span>
                            </button>
                            <button class="button" type="button" onclick="resetStorages();">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                                <span data-th-text="#{web.global.reset}">Reset</span>
                            </button>
                        </div>
                    </form>
                    <div>
                        <div data-duice-bind="storages"
                             data-duice-foreach="storage,status"
                             data-duice-selected-item-class="selected"
                             data-duice-execute="this.dataset.storageId = storage.storageId;"
                             onclick="getStorageResourceInfo(this.dataset.storageId, null);"
                             class="storage-item link display--flex justify-content--space-between">
                            <div>
                                <img class="icon" th:src="@{/static/image/icon-storage.svg}" alt=""/>
                                <span data-duice-bind="storage" data-duice-property="storageId"></span>
                                (<span data-duice-bind="storage" data-duice-property="name"></span>)
                            </div>
                            <div>
                                <button class="button small" data-duice-bind="storage"
                                      data-duice-execute="this.dataset.storageId = storage.storageId;"
                                      onclick="getStorage(this.dataset.storageId); event.stopPropagation();">
                                    <img class="icon link" th:src="@{/static/image/icon-config.svg}" alt=""/>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="display--flex justify-content--space-between">
                        <div>
                            <span data-th-text="#{web.global.total}"></span>
                            <span data-duice-bind="storageSearch" data-duice-property="_total" data-duice-format="number(0)" class="number"></span>
                            <span data-th-text="#{web.global.rows}"></span>
                        </div>
                        <duice-pagination
                                data-duice-bind="storageSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-total-property="_total"
                                data-duice-onclick="getStorages(this.dataset.page);">
                        </duice-pagination>
                        <div class="display--flex justify-content--end gap--1px">
                            <button class="button" type="button" onclick="createStorage();">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ================================== -->
            <!-- end: storage list                  -->
            <!-- ================================== -->
        </div>
        <div class="grid-column--span-7 s__grid-column--span-12">

            <div class="panel">
                <div class="panel-title">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-storage-resource.svg}" alt=""/>
                        <span data-th-text="#{core.storage.StorageResource}"></span>
                    </h2>
                </div>
                <div class="panel-content">
                    <!-- ================================== -->
                    <!-- start: storage resource            -->
                    <!-- ================================== -->
                    <div id="resourceTabContent">
                        <div class="display--flex justify-content--space-between">
                            <div>
                                <label>
                                    <input type="checkbox" onclick="selectAllChildResources();"
                                        data-duice-bind="storageResourceInfo.childStorageResources"
                                        data-duice-execute="this.checked = storageResourceInfo._checkAll;"/>
                                </label>
                                <span class="link code"
                                      onclick="getStorageResourceInfo(storageResourceInfo.storageId, storageResourceInfo.parentStorageResource.resourceId);">
                                    ../
                                </span>
                            </div>
                            <div class="display--flex justify-content--end gap--1px">
                                <button type="button" class="button small"
                                        data-duice-bind="storageResourceInfo"
                                        data-duice-execute="this.disabled = (storageResourceInfo.resourceId === null);"
                                        onclick="refreshStorageResourceInfo();">
                                    <img class="icon" th:src="@{/static/image/icon-refresh.svg}" alt="refresh"/>
                                    <span data-th-text="#{web.global.refresh}"></span>
                                </button>
                                <button type="button" class="button small"
                                        data-duice-bind="storageResourceInfo"
                                        data-duice-execute="this.disabled = (storageResourceInfo.resourceId === null);"
                                        onclick="createStorageFolder();">
                                    <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="upload"/>
                                    <span data-th-text="#{web.global.folder}">Folder</span>
                                </button>
                                <button type="button" class="button small"
                                        data-duice-bind="storageResourceInfo"
                                        data-duice-execute="this.disabled = (storageResourceInfo.resourceId === null);"
                                        onclick="uploadStorageFiles();">
                                    <img class="icon" th:src="@{/static/image/icon-upload.svg}" alt="upload"/>
                                    <span data-th-text="#{web.global.upload}"></span>
                                </button>
                                <button type="button" class="button small"
                                        data-duice-bind="storageResourceInfo"
                                        data-duice-execute="this.disabled = (storageResourceInfo.resourceId === null);"
                                        onclick="deleteStorageResources();">
                                    <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                                    <span data-th-text="#{web.global.delete}"></span>
                                </button>
                            </div>
                        </div>
                        <div data-duice-bind="storageResourceInfo.childStorageResources" data-duice-foreach="childStorageResource,status">
                            <div class="display--flex justify-content--space-between"
                                 data-duice-bind="childStorageResource"
                                 data-duice-if="return childStorageResource.type === 'FOLDER';">
                                <div>
                                    <label>
                                        <input type="checkbox"
                                               data-duice-bind="childStorageResource"
                                               data-duice-property="_selected"/>
                                    </label>
                                    <img th:src="@{/static/image/icon-storage-folder.svg}" alt="" class="icon"/>
                                    <span class="link code"
                                          data-duice-bind="childStorageResource"
                                          data-duice-property="filename"
                                          data-duice-execute="this.dataset.resourceId = childStorageResource.resourceId;"
                                          onclick="getStorageResourceInfo(storageResourceInfo.storageId, this.dataset.resourceId);">
                                    </span>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="display--flex justify-content--space-between"
                                 data-duice-bind="childStorageResource"
                                 data-duice-if="return childStorageResource.type !== 'FOLDER';">
                                <div>
                                    <label>
                                        <input type="checkbox"
                                               data-duice-bind="childStorageResource"
                                               data-duice-property="_selected"/>
                                    </label>
                                    <img th:src="@{/static/image/icon-storage-file.svg}" alt="" class="icon font-size--larger"/>
                                    <span class="code" data-duice-bind="childStorageResource" data-duice-property="filename"></span>
                                </div>
                                <div>
                                    <span class="number font-size--smaller font-style--italic"
                                          data-duice-bind="childStorageResource"
                                          data-duice-execute="this.innerHTML = `${_formatBytes(childStorageResource.size)}`;"></span>
                                    &nbsp;
                                    <span class="date font-size--smaller font-style--italic"
                                          data-duice-bind="childStorageResource"
                                          data-duice-property="lastModified"
                                          data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                                    &nbsp;
                                    <button class="button small"
                                            data-duice-bind="childStorageResource"
                                            data-duice-execute="this.dataset.resourceId = childStorageResource.resourceId;"
                                            onclick="downloadStorageResource(this.dataset.resourceId);">
                                        <img class="icon" th:src="@{/static/image/icon-download.svg}" alt=""/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ================================== -->
                    <!-- end: storage resource              -->
                    <!-- ================================== -->
                </div>
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: storage content               -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: storage objects             -->
    <!-- ================================== -->
    <div id="storageObjectTabContent">
        <div class="panel">
            <div class="panel-title">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                    <span data-th-text="#{core.storage.StorageObject}+' '+#{web.global.list}"></span>
                </h2>
            </div>
            <div class="panel-content">
                <form onsubmit="return false;" class="display--flex justify-content--space-between">
                    <div class="display--flex gap--1px">
                        <div>
                            <label>
                                <input type="text"
                                       data-duice-bind="storageObjectSearch"
                                       data-duice-property="refType"
                                       th:placeholder="#{core.storage.StorageObject.refType}"
                                       style="min-width:10rem;"/>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="text"
                                       data-duice-bind="storageObjectSearch"
                                       data-duice-property="refId"
                                       th:placeholder="#{core.storage.StorageObject.refId}"
                                       style="min-width:15rem;"/>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="text"
                                       data-duice-bind="storageObjectSearch"
                                       data-duice-property="filename"
                                       th:placeholder="#{core.storage.StorageObject.filename}"
                                       style="min-width:15rem;"/>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="button"
                            onclick="getStorageObjects();">
                            <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                            <span data-th-text="#{web.global.search}"></span>
                        </button>
                        <button type="button" class="button"
                                onclick="uploadStorageObject();">
                            <img class="icon" th:src="@{/static/image/icon-upload.svg}" alt="upload"/>
                            <span data-th-text="#{web.global.upload}"></span>
                        </button>
                        <button type="button" class="button"
                                onclick="deleteCheckedStorageObjects();">
                            <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                            <span data-th-text="#{web.global.delete}"></span>
                        </button>
                    </div>
                </form>
                <table>
                    <thead>
                    <tr>
                        <th>
                            <label>
                                <input type="checkbox" onclick="checkAllStorageObjects();"/>
                            </label>
                        </th>
                        <th>No</th>
                        <th data-th-text="#{core.storage.StorageObject.refType}">Reference Type</th>
                        <th data-th-text="#{core.storage.StorageObject.refId}">Reference ID</th>
                        <th data-th-text="#{core.storage.StorageObject.filename}">Filename</th>
                        <th data-th-text="#{core.storage.StorageObject.size}">Size</th>
                        <th data-th-text="#{core.storage.Storage.storageId}">Storage ID</th>
                        <th data-th-text="#{core.storage.StorageResource.resourceId}">Resource ID</th>
                        <th>-</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="storageObjects"
                        data-duice-foreach="storageObject,status">
                        <td class="text-align--center">
                            <label>
                                <input type="checkbox" data-duice-bind="storageObject" data-duice-property="_selected"/>
                            </label>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="status"
                                  data-duice-execute="this.innerHTML = storageObjectSearch._total - (storageObjectSearch._page * storageObjectSearch._size + status.index);"
                                  class="number">
                            </span>
                        </td>
                        <td>
                            <span class="code" data-duice-bind="storageObject" data-duice-property="refType"></span>
                        </td>
                        <td>
                            <span class="code" data-duice-bind="storageObject" data-duice-property="refId"></span>
                        </td>
                        <td>
                            <span class="code" data-duice-bind="storageObject" data-duice-property="filename"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number"
                                  data-duice-bind="storageObject"
                                  data-duice-execute="this.innerHTML = `${_formatBytes(storageObject.size)}`;" ></span>
                        </td>
                        <td>
                            <span class="code" data-duice-bind="storageObject" data-duice-property="storageId"></span>
                        </td>
                        <td>
                            <span class="code" data-duice-bind="storageObject" data-duice-property="resourceId"></span>
                        </td>
                        <td class="text-align--center">
                            <button type="button" class="button small"
                                data-duice-bind="storageObject"
                                data-duice-execute="this.dataset.objectId = storageObject.objectId;"
                                onclick="downloadStorageObject(this.dataset.objectId);">
                                <img class="icon" th:src="@{/static/image/icon-download.svg}" alt="download"/>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="display--flex justify-content--space-between">
                    <div>
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="storageObjectSearch" data-duice-property="_total" data-duice-format="number(0)" class="number"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <duice-pagination
                            data-duice-bind="storageObjectSearch"
                            data-duice-size-property="_size"
                            data-duice-page-property="_page"
                            data-duice-total-property="_total"
                            data-duice-onclick="getStorageObjects(this.dataset.page);">
                    </duice-pagination>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: storage objects               -->
    <!-- ================================== -->

    <!-- ====================================== -->
    <!-- start: storage dialog                  -->
    <!-- ====================================== -->
    <dialog id="storageDialog" class="dialog">
        <style th:inline="css">
            #storageDialog {
                width: 800px;
            }
        </style>
        <script th:inline="javascript">
            const storageDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('storageDialog'));
                const options = {
                    storageId: null
                };
                const storage = new duice.ObjectProxy({
                    storageId: null,
                    name: null
                });
                duice.ObjectProxy.onPropertyChanging(storage, async (event) => {
                    if (event.property === 'storageId') {
                        if (!await validateStorageId(event.value)) {
                            duice.ObjectProxy.focus(storage, 'storageId');
                            return false;
                        }
                    }

                });
                duice.ObjectProxy.onPropertyChanged(storage, event => {
                    if (event.property === 'storageClientId') {
                        if (!storage.storageClientConfig) {
                            let storageClientId = event.value;
                            storage.storageClientConfig = storageClientDefinitions
                                .find(item => item['storageClientId'] === storageClientId)
                                ?.storageClientConfigTemplate;
                        }
                    }
                });

                function open({storageId}) {
                    options.storageId = storageId;
                    duice.ObjectProxy.clear(storage);
                    if (options.storageId) {
                        duice.ObjectProxy.setReadonly(storage, 'storageId', true);
                        getStorage(options.storageId);
                    } else {
                        duice.ObjectProxy.setReadonly(storage, 'storageId', false);
                    }
                    return dialog.open();
                }

                function getStorage(storageId) {
                    const url = new URL(`${location.pathname}/get-storage`, location.origin);
                    url.searchParams.set('storageId', storageId);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ObjectProxy.assign(storage, data);
                        });
                }

                async function validateStorageId(storageId) {
                    // check blank
                    if (!storageId) {
                        await _alert(/*[[#{web.global.itemEmpty(#{core.storage.Storage.storageId})}]]*/'');
                        duice.ObjectProxy.focus(storage, 'storageId');
                        return false;
                    }
                    // check duplicated id
                    let url = new URL(`${window.location.pathname}/get-storage`, document.location.origin);
                    url.searchParams.append('storageId', storageId);
                    let response = await _fetch(url, {}, true);
                    if (response.ok) {
                        let storage = await response.json();
                        if (storage) {
                            await _alert(/*[[#{web.global.itemAlreadyExist(#{core.storage.Storage.storageId})}]]*/'');
                            return false;
                        }
                    }
                    // return true
                    return true;
                }

                async function saveStorage() {
                    // validates
                    if (!storage.storageId) {
                        await _alert(/*[[#{web.global.itemEmpty(#{core.storage.Storage.storageId})}]]*/'');
                        duice.ObjectProxy.focus(storage, 'storageId');
                        return false;
                    }
                    if (!options.storageId) {
                        if (!await validateStorageId(storage.storageId)) {
                            return false;
                        }
                    }
                    if (!storage.name) {
                        await _alert(/*[[#{web.global.itemEmpty(#{core.storage.Storage.name})}]]*/'');
                        duice.ObjectProxy.focus(storage, 'name');
                        return false;
                    }
                    _confirm(/*[[#{web.global.saveItemConfirm(#{core.storage.Storage})}]]*/'').then(result => {
                        if (result) {
                            let url = new URL(`${location.pathname}/save-storage`, location.origin);
                            _fetch(url, {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(storage)
                            }).then(response => {
                                if (response.ok) {
                                    _alert(/*[[#{web.global.saveItemComplete(#{core.storage.Storage})}]]*/'').then(() => {
                                        dialog.close(true);
                                    });
                                }
                            });
                        }
                    });
                }

                function deleteStorage() {
                    _confirm(/*[[#{web.global.deleteItemConfirm(#{core.storage.Storage})}]]*/'').then(result => {
                        if (result) {
                            let url = new URL(`${location.pathname}/delete-storage`, location.origin);
                            url.searchParams.set('storageId', storage.storageId);
                            _fetch(url, {
                                method: 'DELETE'
                            }).then(response => {
                                if (response.ok) {
                                    _alert(/*[[#{web.global.deleteItemComplete(#{core.storage.Storage})}]]*/'').then(() => {
                                        dialog.close(true);
                                    });
                                }
                            })
                        }
                    });
                }

                // returns
                return {
                    open,
                    storage,
                    saveStorage,
                    deleteStorage
                };
            })();
        </script>
        <div class="dialog-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt=""/>
                <span data-th-text="|#{core.storage.Storage} #{web.global.detail}|"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <form class="display--grid grid-template-columns--12fr gap--1rem">
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.storage.Storage.storageId}" class="font-weight--bold tag-required"></span>
                        <input type="text" data-duice-bind="storageDialog.storage" data-duice-property="storageId" class="width--100 code"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.storage.Storage.name}" class="font-weight--bold tag-required"></span>
                        <input type="text" data-duice-bind="storageDialog.storage" data-duice-property="name" class="width--100"/>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.storage.Storage.storageClientId}" class="font-weight--bold"></span>
                        <select data-duice-bind="storageDialog.storage" data-duice-property="storageClientId"
                                data-duice-option="storageClientDefinitions"
                                data-duice-option-value-property="storageClientId"
                                data-duice-option-text-property="storageClientName"
                                class="width--100">
                            <option data-th-text="|#{web.global.select}...|"></option>
                        </select>
                    </label>
                </div>
                <div class="grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.storage.Storage.storageClientConfig}" class="font-weight--bold"></span>
                        <duice-codemirror
                                class="code box"
                                style="height:15rem;"
                                data-duice-bind="storageDialog.storage"
                                data-duice-property="storageClientConfig"
                                data-duice-theme="dracula">
                        </duice-codemirror>
                    </label>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12">
                    <label>
                        <span data-th-text="#{core.storage.Storage.sanitizeEnabled}" class="font-weight--bold"></span>
                        <input type="checkbox" data-duice-bind="storageDialog.storage" data-duice-property="sanitizeEnabled"/>
                    </label>
                </div>
            </form>
            <div class="display--flex justify-content--space-between">
                <div></div>
                <div class="display--flex justify-content--end gap--1px">
                    <button class="button" type="button" onclick="storageDialog.deleteStorage();"
                            th:classappend="!${#authorization.expression('hasAuthority(''admin.storage:edit'')')}?'locked'">
                        <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                        <span data-th-text="#{web.global.delete}"></span>
                    </button>
                    <button class="button" type="button" onclick="storageDialog.saveStorage();"
                            th:classappend="!${#authorization.expression('hasAuthority(''admin.storage:edit'')')}?'locked'">
                        <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                        <span data-th-text="#{web.global.save}"></span>
                    </button>
                </div>
            </div>
            <div class="text-align--right font-size--xx-small font-style--italic">
                Last Updated At
                <span data-duice-bind="storageDialog.storage" data-duice-property="systemUpdatedAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                By
                <span data-duice-bind="storageDialog.storage" data-duice-property="systemUpdatedBy"></span>
            </div>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: storage dialog                    -->
    <!-- ====================================== -->

    <dialog id="uploadDialog" class="dialog">
        <script>
            const uploadDialog = (() => {
                const dialog = new duice.Dialog(document.getElementById('uploadDialog'));
                const storageObject = new duice.ObjectProxy({
                    refType: null,
                    refId: null,
                    storageId: 'board'
                });
                const formData = new FormData();

                function open() {
                    for (let key of formData.keys()) {
                        formData.delete(key);
                    }
                    return dialog.open();
                }

                function close() {
                    dialog.close();
                }

                function addFiles() {
                    let input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('multiple', 'true');
                    input.addEventListener('change', function () {
                        const files = Array.from(this.files); // FileList → 배열
                        if (files.length === 0) return;
                        files.forEach((file, index) => {
                            formData.append('files', file); // name=files 로 서버에 전송
                        });
                    });
                    input.click();
                }

                function confirm() {
                    formData.set("refType", storageObject.refType);
                    formData.set("refId", storageObject.refId);
                    formData.set("storageId", storageObject.storageId);
                    let url = new URL(`${location.pathname}/upload-storage-object`, location.origin);
                    _fetch(url, {
                        method: 'POST',
                        body: formData
                    }).then(() => {
                        dialog.close();
                    })
                }

                return {
                    open,
                    close,
                    storageObject,
                    addFiles,
                    formData,
                    confirm
                };
            })();
        </script>
        <div class="dialog-title">

        </div>
        <div class="dialog-content">
            <form onsubmit="return false;">
                <input type="text" data-duice-bind="uploadDialog.storageObject" data-duice-property="refType"/>
                <input type="text" data-duice-bind="uploadDialog.storageObject" data-duice-property="refId"/>
                <select data-duice-bind="uploadDialog.storageObject" data-duice-property="storageId">
                    <option>board</option>
                </select>
                <button type="button"
                onclick="uploadDialog.addFiles();">
                    add file
                </button>
            </form>
            <div>
                <button type="button" onclick="uploadDialog.confirm();">Confirm</button>
            </div>
        </div>
    </dialog>

</main>
